<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>precisionFacadeCount</key>
	<string>transitionAroundAdapter</string>
	<key>robustBlocPressure</key>
	<string>materialHeroBorder</string>
	<key>staticDimensionOffset</key>
	<string>touchSingletonPressure</string>
</dict>
</plist>
