<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedStackSpacing</key>
	<string>relationalConstraintCenter</string>
	<key>buttonStructureBrightness</key>
	<string>greatChartRight</string>
	<key>coordinatorOfMemento</key>
	<string>protocolParamPadding</string>
	<key>nodeValueAcceleration</key>
	<string>unsortedTernaryBottom</string>
</dict>
</plist>
