<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardAccessoryOpacity</key>
	<string>custompaintBesideMediator</string>
	<key>sizeLayerShape</key>
	<string>graphicLikeType</string>
	<key>tensorControllerTail</key>
	<string>reducerBufferBrightness</string>
	<key>uniqueMobileInteraction</key>
	<string>zoneActionState</string>
	<key>utilContextSaturation</key>
	<string>missedCoordinatorTail</string>
</dict>
</plist>
