<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncTitleLeft</key>
	<string>controllerActionTheme</string>
	<key>dedicatedDescriptionFeedback</key>
	<string>repositoryFacadeBehavior</string>
	<key>disparateScaleMomentum</key>
	<string>comprehensiveBufferPressure</string>
	<key>flexStateDelay</key>
	<string>operationAboutBridge</string>
	<key>fragmentFacadeAlignment</key>
	<string>compositionalIntensityColor</string>
	<key>graphAroundState</key>
	<string>spineMediatorBrightness</string>
	<key>independentRichtextHead</key>
	<string>custompaintAlongPrototype</string>
	<key>semanticEventPressure</key>
	<string>skirtStrategyRate</string>
	<key>synchronousHeroValidation</key>
	<string>memberThroughState</string>
</dict>
</plist>
