<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyPopupOrientation</key>
	<string>interfaceSystemHead</string>
	<key>interactorAsVar</key>
	<string>durationPlatformTension</string>
	<key>localTaskRate</key>
	<string>exceptionStyleBottom</string>
	<key>stateAlongMediator</key>
	<string>prevGemInterval</string>
</dict>
</plist>
