<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveChapterStatus</key>
	<string>currentFrameKind</string>
	<key>arithmeticGroupTension</key>
	<string>providerTypeBottom</string>
	<key>bufferBridgeColor</key>
	<string>drawerFromTask</string>
	<key>desktopAwaitDistance</key>
	<string>originalNodeFormat</string>
	<key>resolverStrategyForce</key>
	<string>utilBufferFlags</string>
	<key>slashMementoEdge</key>
	<string>normAmongMethod</string>
</dict>
</plist>
