<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheWithCycle</key>
	<string>statelessInsideParameter</string>
	<key>consumerExceptPlatform</key>
	<string>signAlongMode</string>
	<key>expandedThanWork</key>
	<string>radiusIncludeFramework</string>
	<key>fixedIndicatorShape</key>
	<string>standaloneInterfaceValidation</string>
	<key>nextBorderOpacity</key>
	<string>customTextResponse</string>
	<key>pivotalGroupState</key>
	<string>crudeParticleTop</string>
	<key>playbackDespiteParam</key>
	<string>asyncBufferSize</string>
	<key>rapidRouterType</key>
	<string>animationStateOrigin</string>
	<key>subtleOptionEdge</key>
	<string>curveFacadeSkewy</string>
</dict>
</plist>
