<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerWorkTransparency</key>
	<string>interpolationActionInset</string>
	<key>exponentTaskTint</key>
	<string>smallLogarithmSpacing</string>
	<key>rapidAnimationBound</key>
	<string>cartesianTaskEdge</string>
	<key>referenceLevelBrightness</key>
	<string>matrixBufferInteraction</string>
	<key>sizeProcessAcceleration</key>
	<string>resolverSingletonTheme</string>
</dict>
</plist>
