<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorDuringPrototype</key>
	<string>sliderPerPattern</string>
	<key>catalystVariableDepth</key>
	<string>arithmeticChartPressure</string>
	<key>flexibleInjectionCoord</key>
	<string>discardedLayerStatus</string>
	<key>matrixAboutTemple</key>
	<string>displayableInterfaceSkewy</string>
	<key>nativeCompletionTransparency</key>
	<string>semanticExpandedPosition</string>
	<key>nibBeyondAction</key>
	<string>instructionAlongSystem</string>
	<key>standaloneTimerTail</key>
	<string>masterPhaseType</string>
	<key>webTitleOpacity</key>
	<string>uniqueIsolateHead</string>
	<key>workflowLevelShade</key>
	<string>frameIncludeOperation</string>
</dict>
</plist>
