<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarDuringPattern</key>
	<string>asynchronousEffectIndex</string>
	<key>containerInterpreterForce</key>
	<string>assetActionTension</string>
	<key>exceptionNearVisitor</key>
	<string>brushVersusPattern</string>
	<key>richtextWithProxy</key>
	<string>exceptionJobStyle</string>
	<key>singleRiverpodFeedback</key>
	<string>missedCupertinoDistance</string>
	<key>sustainableStateTag</key>
	<string>greatQueueInterval</string>
	<key>vectorParameterColor</key>
	<string>activityScopeSpacing</string>
</dict>
</plist>
