<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationWithoutProxy</key>
	<string>reductionStructureInteraction</string>
	<key>ignoredArithmeticIndex</key>
	<string>effectDuringFacade</string>
	<key>intuitiveRowTension</key>
	<string>tweenThanMethod</string>
	<key>storageParameterFlags</key>
	<string>greatDecorationCenter</string>
	<key>swiftAmongAction</key>
	<string>nextToolBorder</string>
</dict>
</plist>
