<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAgainstMediator</key>
	<string>relationalSineOrigin</string>
	<key>chartTempleTag</key>
	<string>listenerContextRate</string>
	<key>graphScopeDistance</key>
	<string>invisibleOffsetBorder</string>
	<key>iconDecoratorCenter</key>
	<string>sensorContainPrototype</string>
	<key>labelSingletonPressure</key>
	<string>missionLikeLevel</string>
	<key>normExceptMediator</key>
	<string>precisionActivityAppearance</string>
	<key>profileBufferInteraction</key>
	<string>usecaseViaChain</string>
	<key>sliderThroughActivity</key>
	<string>coordinatorChainMargin</string>
	<key>smallIntensityOffset</key>
	<string>positionAndObserver</string>
</dict>
</plist>
