<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureSinceAdapter</key>
	<string>featureInsideParameter</string>
	<key>comprehensiveAsyncMargin</key>
	<string>boxshadowThanProcess</string>
	<key>cubeAgainstFunction</key>
	<string>streamOfStyle</string>
	<key>flexibleRadioBehavior</key>
	<string>captionStateForce</string>
	<key>positionedScopePressure</key>
	<string>inactiveDropdownbuttonRight</string>
	<key>roleDecoratorPosition</key>
	<string>semanticsNumberRight</string>
	<key>specifyUsecaseAppearance</key>
	<string>layoutLikeMediator</string>
	<key>taskPerTier</key>
	<string>tappableMissionSpacing</string>
	<key>tensorResourceName</key>
	<string>menuStateFeedback</string>
</dict>
</plist>
