<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyContainCommand</key>
	<string>intermediateStackAcceleration</string>
	<key>immutableControllerBottom</key>
	<string>accessibleClipperStyle</string>
	<key>inheritedCurveTint</key>
	<string>fragmentAwayScope</string>
	<key>retainedSignatureStatus</key>
	<string>accessibleCursorStatus</string>
</dict>
</plist>
