<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalSceneOffset</key>
	<string>sceneSinceFramework</string>
	<key>opaqueSpriteBrightness</key>
	<string>multiStateFlags</string>
	<key>reductionAtFlyweight</key>
	<string>capacitiesParameterLeft</string>
	<key>relationalMusicFormat</key>
	<string>methodVersusParam</string>
	<key>sizeExceptPrototype</key>
	<string>sliderAboutBridge</string>
</dict>
</plist>
