<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncVariableOrigin</key>
	<string>brushAtVariable</string>
	<key>constConstraintSpeed</key>
	<string>navigatorThroughForm</string>
	<key>currentHandlerRight</key>
	<string>buttonDuringProcess</string>
	<key>functionalInjectionTint</key>
	<string>sortedRadiusSpacing</string>
	<key>modalContainTask</key>
	<string>movementObserverIndex</string>
	<key>presenterVersusScope</key>
	<string>segueViaProxy</string>
	<key>responseValueInteraction</key>
	<string>variantExceptSingleton</string>
	<key>smallTabbarFeedback</key>
	<string>mobileLayoutPressure</string>
	<key>staticBatchSpacing</key>
	<string>disparateDrawerBorder</string>
	<key>usageActivityTop</key>
	<string>currentProtocolRotation</string>
</dict>
</plist>
