<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSegueBehavior</key>
	<string>timerAboutSystem</string>
	<key>capsuleWorkHead</key>
	<string>promiseKindDelay</string>
	<key>characterSystemOrientation</key>
	<string>titlePrototypeCount</string>
	<key>crucialRouteTransparency</key>
	<string>grainAdapterHue</string>
	<key>requestFunctionMomentum</key>
	<string>sophisticatedThreadInterval</string>
	<key>unactivatedSliderName</key>
	<string>nodePhaseName</string>
	<key>usecaseDespiteMode</key>
	<string>resultContainKind</string>
</dict>
</plist>
