<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>missionOfForm</key>
	<string>assetDecoratorCenter</string>
	<key>resizableMenuBottom</key>
	<string>zoneFacadeOrientation</string>
	<key>retainedSkirtSize</key>
	<string>opaqueSpecifierBorder</string>
	<key>signatureLikeProcess</key>
	<string>localInteractorVisible</string>
	<key>subtleSizeInterval</key>
	<string>desktopWidgetEdge</string>
	<key>swiftThroughStyle</key>
	<string>crucialEventBound</string>
</dict>
</plist>
