<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryKindForce</key>
	<string>graphLevelLocation</string>
	<key>buttonThroughProcess</key>
	<string>directFrameFrequency</string>
	<key>crudeProtocolBound</key>
	<string>priorDecorationTransparency</string>
	<key>offsetThanProcess</key>
	<string>singleLayoutOpacity</string>
	<key>optionOperationOrigin</key>
	<string>spritePlatformDirection</string>
	<key>relationalSinkOpacity</key>
	<string>directOverlayCoord</string>
	<key>respectiveResourceCount</key>
	<string>easySceneCoord</string>
	<key>segmentAlongProxy</key>
	<string>unsortedCallbackMargin</string>
	<key>sessionStructureInset</key>
	<string>resourceTemplePressure</string>
</dict>
</plist>
