<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorKindCount</key>
	<string>curveStageCoord</string>
	<key>effectMethodDelay</key>
	<string>crudeGateMomentum</string>
	<key>factoryAroundOperation</key>
	<string>errorLevelIndex</string>
	<key>interfacePatternSize</key>
	<string>chartSystemSpeed</string>
	<key>rectVisitorDistance</key>
	<string>sophisticatedResolverStatus</string>
	<key>similarMediaqueryStatus</key>
	<string>primaryGrainMode</string>
	<key>symmetricReductionDistance</key>
	<string>paddingThroughMode</string>
</dict>
</plist>
