<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoVectorLeft</key>
	<string>expandedAtShape</string>
	<key>collectionStageTheme</key>
	<string>channelsWithoutDecorator</string>
	<key>customChannelsFeedback</key>
	<string>gateOperationTail</string>
	<key>multiAnimationMode</key>
	<string>dropdownbuttonBesideOperation</string>
	<key>projectChainTransparency</key>
	<string>navigatorPatternCenter</string>
	<key>routeNumberSpeed</key>
	<string>fragmentStateSize</string>
	<key>tappablePaddingOrigin</key>
	<string>opaqueMetadataAppearance</string>
	<key>visibleProgressbarLeft</key>
	<string>aspectratioStructureMomentum</string>
</dict>
</plist>
