<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fragmentDecoratorDirection</key>
	<string>hierarchicalRowSaturation</string>
	<key>intensitySingletonLocation</key>
	<string>graphByParameter</string>
	<key>lastGridBound</key>
	<string>sizeAndTier</string>
	<key>mediumStreamEdge</key>
	<string>navigatorProxyHue</string>
	<key>promiseTempleSkewy</key>
	<string>accessibleToolPosition</string>
	<key>repositoryLayerName</key>
	<string>tabviewFromOperation</string>
	<key>statefulSlashType</key>
	<string>buttonDuringStructure</string>
</dict>
</plist>
