<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeStepSkewy</key>
	<string>descriptorActivityFeedback</string>
	<key>dependencyShapePressure</key>
	<string>persistentWidgetStyle</string>
	<key>eagerLocalizationOrigin</key>
	<string>uniqueBaselineTint</string>
	<key>firstLossName</key>
	<string>characterTaskDensity</string>
	<key>mediaqueryKindOrigin</key>
	<string>checkboxBesidePhase</string>
	<key>radiusInterpreterCenter</key>
	<string>lastAllocatorDuration</string>
	<key>reductionFunctionTail</key>
	<string>gesturedetectorVarContrast</string>
	<key>subscriptionMethodSaturation</key>
	<string>cubitLayerVisible</string>
	<key>subtleBuilderCenter</key>
	<string>scrollableStatelessFeedback</string>
</dict>
</plist>
