<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerResponseHue</key>
	<string>inactiveRowSkewx</string>
	<key>elasticStoryboardMode</key>
	<string>utilThroughFlyweight</string>
	<key>methodLikeFramework</key>
	<string>featureInterpreterLeft</string>
	<key>mutableSignatureVelocity</key>
	<string>layoutTierSpacing</string>
	<key>playbackMethodOrientation</key>
	<string>priorityNumberSkewy</string>
	<key>slashInterpreterLocation</key>
	<string>metadataSingletonResponse</string>
	<key>tensorDurationFeedback</key>
	<string>drawerNearStructure</string>
	<key>textureAroundLevel</key>
	<string>backwardDurationTheme</string>
</dict>
</plist>
