<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushPerBridge</key>
	<string>handlerSystemIndex</string>
	<key>buttonOperationSize</key>
	<string>drawerSincePhase</string>
	<key>eventAroundPattern</key>
	<string>geometricResourceSize</string>
	<key>globalReducerBehavior</key>
	<string>usageOperationBrightness</string>
	<key>grayscaleNearFacade</key>
	<string>respectiveAspectratioDuration</string>
</dict>
</plist>
