<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentStateOrientation</key>
	<string>themeNumberResponse</string>
	<key>cupertinoErrorCount</key>
	<string>playbackWithScope</string>
	<key>inactiveQueryOrigin</key>
	<string>rectCompositeDensity</string>
</dict>
</plist>
