<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorTypeIndex</key>
	<string>drawerAlongFunction</string>
	<key>controllerWorkBrightness</key>
	<string>ignoredGemTail</string>
	<key>frameAboutPlatform</key>
	<string>compositionCompositeShape</string>
	<key>geometricAxisStyle</key>
	<string>reusableEventLocation</string>
	<key>lossStructureSize</key>
	<string>columnOutsideFramework</string>
</dict>
</plist>
