<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchFacadeInset</key>
	<string>dimensionStateMode</string>
	<key>channelsAmongFramework</key>
	<string>pinchableContractionDuration</string>
	<key>documentThanFlyweight</key>
	<string>unaryMethodFeedback</string>
	<key>hyperbolicAspectDepth</key>
	<string>newestHeroDepth</string>
	<key>permanentGrainLocation</key>
	<string>missionDecoratorOffset</string>
	<key>previewIncludeContext</key>
	<string>intuitiveCallbackForce</string>
	<key>scaffoldInPattern</key>
	<string>exceptionThanBuffer</string>
	<key>sharedTransitionRotation</key>
	<string>tickerThroughAdapter</string>
	<key>transitionNumberSpeed</key>
	<string>documentStrategySize</string>
	<key>transitionScopeSkewx</key>
	<string>compositionContextFeedback</string>
</dict>
</plist>
