<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowAsLayer</key>
	<string>managerMediatorInteraction</string>
	<key>cartesianMobxColor</key>
	<string>signAndParameter</string>
	<key>entityLayerDistance</key>
	<string>priorityTaskTag</string>
	<key>particleOutsideTemple</key>
	<string>lazyCheckboxTint</string>
	<key>playbackVariableStyle</key>
	<string>cycleInAction</string>
	<key>tickerBeyondObserver</key>
	<string>paddingAmongProxy</string>
	<key>unactivatedFrameRate</key>
	<string>lastProtocolInterval</string>
</dict>
</plist>
