<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveTablePressure</key>
	<string>queueDuringStructure</string>
	<key>allocatorCycleFrequency</key>
	<string>vectorEnvironmentPressure</string>
	<key>collectionNearState</key>
	<string>catalystAdapterBrightness</string>
	<key>functionalSubscriptionAlignment</key>
	<string>presenterViaScope</string>
	<key>injectionAmongStrategy</key>
	<string>characterStageSpacing</string>
	<key>singlePetPosition</key>
	<string>independentSpecifierOpacity</string>
	<key>spriteOrKind</key>
	<string>pointBeyondTask</string>
	<key>titleStateTheme</key>
	<string>retainedMethodCoord</string>
	<key>usedRemainderAppearance</key>
	<string>reactiveChartForce</string>
	<key>zoneFormDirection</key>
	<string>sinkParamMomentum</string>
</dict>
</plist>
