<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousSizedboxVisibility</key>
	<string>multiTaskKind</string>
	<key>bitrateJobDelay</key>
	<string>rowThanFacade</string>
	<key>durationInJob</key>
	<string>reusableOptionTag</string>
	<key>gradientPerTask</key>
	<string>matrixDuringMediator</string>
	<key>groupScopeHead</key>
	<string>labelVersusChain</string>
	<key>originalDialogsDepth</key>
	<string>storeContainValue</string>
	<key>radioContainLevel</key>
	<string>scrollableBuilderBound</string>
	<key>rectAgainstTier</key>
	<string>builderContainMethod</string>
	<key>uniqueLoopKind</key>
	<string>scrollExceptVar</string>
	<key>usageLevelInset</key>
	<string>concreteActionTag</string>
</dict>
</plist>
