<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianSampleName</key>
	<string>navigationOfInterpreter</string>
	<key>completerBridgeOffset</key>
	<string>customizedExtensionBehavior</string>
	<key>playbackInsideParameter</key>
	<string>tickerVisitorFormat</string>
	<key>providerContainNumber</key>
	<string>mediumMediaOrientation</string>
	<key>semanticTouchContrast</key>
	<string>texturePatternBorder</string>
	<key>singletonNumberEdge</key>
	<string>scrollablePositionedTheme</string>
	<key>swiftDespiteTier</key>
	<string>currentCaptionPressure</string>
	<key>tweenStrategyRate</key>
	<string>textOrLevel</string>
	<key>uniformQueueDepth</key>
	<string>layoutChainName</string>
</dict>
</plist>
