<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectByProxy</key>
	<string>hardCellHead</string>
	<key>awaitBufferCount</key>
	<string>blocStyleCoord</string>
	<key>cubeInsideComposite</key>
	<string>loopAndProxy</string>
	<key>fusedReductionBorder</key>
	<string>checklistEnvironmentAcceleration</string>
	<key>prevSignatureSpeed</key>
	<string>ternaryScopeDirection</string>
	<key>rectThanPattern</key>
	<string>monsterThanPlatform</string>
	<key>titleCycleShape</key>
	<string>localGraphicBorder</string>
</dict>
</plist>
