<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasViaTemple</key>
	<string>textfieldInJob</string>
	<key>certificateParameterOffset</key>
	<string>standaloneSinkVisible</string>
	<key>gridTaskTail</key>
	<string>curveBufferFormat</string>
	<key>mediocreTextureOffset</key>
	<string>beginnerKernelType</string>
	<key>remainderPatternValidation</key>
	<string>decorationDuringStage</string>
	<key>spotNumberKind</key>
	<string>reusableCallbackAppearance</string>
</dict>
</plist>
