<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAwayTask</key>
	<string>interactorAmongActivity</string>
	<key>aspectProxyDensity</key>
	<string>switchStateTransparency</string>
	<key>featureNearMode</key>
	<string>factoryObserverBrightness</string>
	<key>multiInterpolationCoord</key>
	<string>hierarchicalRectSkewy</string>
	<key>particleTypeInteraction</key>
	<string>symbolBesideObserver</string>
	<key>referenceTypeFrequency</key>
	<string>commonNotifierStatus</string>
	<key>relationalProfileIndex</key>
	<string>accessiblePositionOrigin</string>
	<key>stateVersusJob</key>
	<string>geometricMediaqueryTag</string>
</dict>
</plist>
