<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationWithBridge</key>
	<string>actionOutsideStructure</string>
	<key>awaitTempleVelocity</key>
	<string>isolatePatternSaturation</string>
	<key>buttonWorkMomentum</key>
	<string>alphaEnvironmentIndex</string>
	<key>compositionAlongStage</key>
	<string>sliderDespiteStrategy</string>
	<key>marginParamPosition</key>
	<string>listenerObserverSaturation</string>
	<key>resilientPopupState</key>
	<string>groupUntilMediator</string>
	<key>resizableUnaryResponse</key>
	<string>robustAppbarOrientation</string>
	<key>scrollableDescriptionDistance</key>
	<string>subpixelNearFramework</string>
	<key>utilCommandAcceleration</key>
	<string>gestureFormAcceleration</string>
</dict>
</plist>
