<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectDespiteParam</key>
	<string>featureInFunction</string>
	<key>errorLevelShade</key>
	<string>permissiveProfileDensity</string>
	<key>stampVersusTemple</key>
	<string>permanentTaskOrientation</string>
	<key>subpixelActionTint</key>
	<string>callbackWithoutLayer</string>
</dict>
</plist>
