<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoTextfieldAppearance</key>
	<string>constIntensityStyle</string>
	<key>enabledEffectName</key>
	<string>gridviewScopeBrightness</string>
	<key>newestStoreCenter</key>
	<string>canvasOrEnvironment</string>
	<key>particleFunctionInteraction</key>
	<string>chapterChainVisibility</string>
	<key>reducerProxyPressure</key>
	<string>repositoryParameterBorder</string>
	<key>uniqueNibFrequency</key>
	<string>presenterAlongShape</string>
</dict>
</plist>
