<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optimizerAsValue</key>
	<string>paddingTempleColor</string>
	<key>riverpodTempleBehavior</key>
	<string>switchOfSingleton</string>
	<key>tableFrameworkBottom</key>
	<string>borderInsideType</string>
</dict>
</plist>
