<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxInsideProxy</key>
	<string>notificationAwayValue</string>
	<key>callbackAroundLayer</key>
	<string>bitrateForType</string>
	<key>marginStructureDelay</key>
	<string>texturePerEnvironment</string>
	<key>multiCardLeft</key>
	<string>symbolSinceForm</string>
	<key>pivotalZoneLocation</key>
	<string>petForObserver</string>
	<key>repositoryViaJob</key>
	<string>denseTimerKind</string>
</dict>
</plist>
