<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderSingletonOffset</key>
	<string>descriptorSinceEnvironment</string>
	<key>effectValueEdge</key>
	<string>delegateProxyDuration</string>
	<key>robustViewSkewx</key>
	<string>sequentialFutureType</string>
	<key>statelessSizeSpacing</key>
	<string>rowAmongForm</string>
</dict>
</plist>
