<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderMementoSize</key>
	<string>routerActivityLocation</string>
	<key>listenerAndTemple</key>
	<string>zoneOperationPadding</string>
	<key>rowPhaseScale</key>
	<string>collectionPhaseOrigin</string>
	<key>rowScopeAcceleration</key>
	<string>inheritedNavigatorBehavior</string>
	<key>shaderAboutLevel</key>
	<string>missedAwaitShape</string>
	<key>stackParameterRate</key>
	<string>techniqueProcessColor</string>
	<key>tableByObserver</key>
	<string>batchScopeVelocity</string>
	<key>usedHeapCenter</key>
	<string>boxshadowStyleStyle</string>
</dict>
</plist>
