<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticBesideMode</key>
	<string>textAsObserver</string>
	<key>flexibleSampleTail</key>
	<string>actionFunctionSkewx</string>
	<key>gradientMementoStatus</key>
	<string>curveStructureDensity</string>
	<key>pinchableGatePadding</key>
	<string>cycleStructureInteraction</string>
	<key>progressbarStyleDirection</key>
	<string>localCurveDensity</string>
	<key>radiusVisitorState</key>
	<string>granularStateShape</string>
	<key>scenePlatformTheme</key>
	<string>baselineModeCoord</string>
</dict>
</plist>
