<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonThroughLevel</key>
	<string>reducerAgainstFunction</string>
	<key>channelOutsideProxy</key>
	<string>viewVariableOffset</string>
	<key>ignoredSpecifierShape</key>
	<string>storePrototypeFeedback</string>
	<key>multiOffsetIndex</key>
	<string>directResourcePosition</string>
	<key>singletonSystemFeedback</key>
	<string>borderNearStrategy</string>
	<key>textCompositeTension</key>
	<string>nodeContainProxy</string>
</dict>
</plist>
