<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartCompositeSpeed</key>
	<string>ephemeralMultiplicationIndex</string>
	<key>concurrentTaskInset</key>
	<string>sineSystemFormat</string>
	<key>crudeMomentumVisibility</key>
	<string>firstFlexFeedback</string>
	<key>dropdownbuttonIncludeForm</key>
	<string>chartNearFramework</string>
	<key>intensityJobOpacity</key>
	<string>scrollSystemDensity</string>
	<key>isolateProcessHead</key>
	<string>requestBufferMargin</string>
	<key>nibAgainstComposite</key>
	<string>optionActionEdge</string>
	<key>normalConfigurationStyle</key>
	<string>flexibleErrorVisible</string>
	<key>tabviewWorkInteraction</key>
	<string>interfaceAroundState</string>
	<key>themeAdapterMode</key>
	<string>isolateFlyweightTension</string>
</dict>
</plist>
