<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardMaterialFormat</key>
	<string>convolutionInsideNumber</string>
	<key>binaryLevelOpacity</key>
	<string>spotBesideFlyweight</string>
	<key>decorationFrameworkAlignment</key>
	<string>coordinatorIncludeLevel</string>
	<key>dependencyBeyondVar</key>
	<string>listenerDespitePattern</string>
	<key>sineInActivity</key>
	<string>buttonInDecorator</string>
</dict>
</plist>
