<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanCallbackStyle</key>
	<string>cubitStrategyOrigin</string>
	<key>hardSignatureRotation</key>
	<string>usecaseBufferScale</string>
	<key>immediateConsumerAcceleration</key>
	<string>storyboardCommandTransparency</string>
	<key>sizeObserverCount</key>
	<string>rowAwayFramework</string>
	<key>taskPlatformMargin</key>
	<string>sophisticatedChannelVisibility</string>
	<key>textBesideStage</key>
	<string>accessibleReferenceOffset</string>
</dict>
</plist>
