<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderContainTier</key>
	<string>interactorViaProxy</string>
	<key>instructionContextMargin</key>
	<string>exceptionTypeBrightness</string>
	<key>segmentVarTop</key>
	<string>sessionAdapterSpacing</string>
	<key>similarMediaqueryDelay</key>
	<string>gridviewOrPlatform</string>
</dict>
</plist>
