<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedCursorTint</key>
	<string>builderParamName</string>
	<key>deferredAspectTail</key>
	<string>nativeDurationDensity</string>
	<key>delegateVarType</key>
	<string>fusedAwaitStyle</string>
	<key>discardedCertificateTint</key>
	<string>callbackParameterPressure</string>
	<key>invisibleGroupHead</key>
	<string>semanticCacheStatus</string>
	<key>lazySpriteInteraction</key>
	<string>requestTempleSkewx</string>
	<key>modalByFramework</key>
	<string>reusablePopupSize</string>
	<key>positionAndMemento</key>
	<string>instructionActivityAlignment</string>
</dict>
</plist>
