<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticRiverpodTheme</key>
	<string>paddingDuringBuffer</string>
	<key>associatedParticleTheme</key>
	<string>comprehensiveNotificationTail</string>
	<key>chapterActionShape</key>
	<string>animatedcontainerInProcess</string>
	<key>containerPrototypeBrightness</key>
	<string>optimizerParamColor</string>
	<key>dimensionStyleDirection</key>
	<string>transitionBesideCycle</string>
	<key>intuitiveAsyncTransparency</key>
	<string>seamlessCompletionPadding</string>
	<key>isolateAlongPlatform</key>
	<string>apertureFormOffset</string>
	<key>storeMethodOffset</key>
	<string>fusedResourceMargin</string>
</dict>
</plist>
