<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushByStyle</key>
	<string>subtleMusicCenter</string>
	<key>curveActivityOpacity</key>
	<string>localListenerBound</string>
	<key>cycleContainTask</key>
	<string>disabledActionPressure</string>
	<key>dependencyInterpreterCount</key>
	<string>managerPhaseCoord</string>
	<key>frameStyleContrast</key>
	<string>touchVersusParameter</string>
	<key>mutableErrorVisibility</key>
	<string>opaqueTextureInteraction</string>
</dict>
</plist>
