<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleVarHue</key>
	<string>customizedBuilderVisible</string>
	<key>entityJobFormat</key>
	<string>viewTempleFrequency</string>
	<key>futureOperationIndex</key>
	<string>scrollBufferForce</string>
	<key>temporaryCanvasMode</key>
	<string>mediocreNotifierTension</string>
	<key>utilWithoutVisitor</key>
	<string>checkboxExceptPattern</string>
</dict>
</plist>
