<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSceneStatus</key>
	<string>originalNodeRate</string>
	<key>elasticRichtextBorder</key>
	<string>localPresenterTag</string>
	<key>lastCompletionState</key>
	<string>switchNearFlyweight</string>
	<key>mediocreIsolateSize</key>
	<string>smallThreadDepth</string>
	<key>radiusBufferPosition</key>
	<string>mutablePlaybackKind</string>
	<key>reductionThanPhase</key>
	<string>channelsInProxy</string>
	<key>resolverContainForm</key>
	<string>sceneMethodHead</string>
	<key>symmetricSignatureCenter</key>
	<string>alphaLikeLevel</string>
</dict>
</plist>
