<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorOutsideNumber</key>
	<string>hierarchicalObserverFeedback</string>
	<key>flexWorkTension</key>
	<string>scrollableTimerFormat</string>
	<key>inheritedRepositoryBound</key>
	<string>capacitiesChainRate</string>
	<key>unaryByPrototype</key>
	<string>explicitTextTop</string>
</dict>
</plist>
