<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitPlatformForce</key>
	<string>diffableDropdownbuttonEdge</string>
	<key>bufferShapeVelocity</key>
	<string>largeChartMode</string>
	<key>enabledDocumentBorder</key>
	<string>opaqueAspectratioTop</string>
	<key>eventAroundContext</key>
	<string>disparateQueryDepth</string>
	<key>listenerAtPrototype</key>
	<string>crucialCapacitiesInteraction</string>
	<key>projectionActivityBehavior</key>
	<string>mobileLogarithmStatus</string>
	<key>projectionPhaseVelocity</key>
	<string>tabbarShapeFlags</string>
	<key>semanticInstructionOpacity</key>
	<string>batchVersusMode</string>
</dict>
</plist>
