<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorBesideForm</key>
	<string>reactiveArithmeticFlags</string>
	<key>compositionActivityValidation</key>
	<string>skirtOperationMargin</string>
	<key>localOverlayBorder</key>
	<string>interactorPatternDelay</string>
	<key>streamContainMemento</key>
	<string>notificationSystemVisible</string>
</dict>
</plist>
