<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedNotificationBrightness</key>
	<string>boxshadowSinceLevel</string>
	<key>integerVisitorResponse</key>
	<string>navigationLikePhase</string>
	<key>interactivePopupStatus</key>
	<string>iconEnvironmentShade</string>
	<key>largeCompletionShape</key>
	<string>asyncVersusScope</string>
	<key>momentumStrategySpeed</key>
	<string>promiseSingletonOpacity</string>
	<key>notifierVersusStructure</key>
	<string>delegateLikePhase</string>
	<key>smartControllerVelocity</key>
	<string>concurrentCupertinoFlags</string>
	<key>specifierDespiteParameter</key>
	<string>primaryAnimatedcontainerTheme</string>
	<key>stateInProcess</key>
	<string>getxLevelLeft</string>
	<key>tappableAnimationHead</key>
	<string>memberMementoBound</string>
</dict>
</plist>
