<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureOperationColor</key>
	<string>sizeSystemSize</string>
	<key>autoBlocSaturation</key>
	<string>advancedAnimatedcontainerMomentum</string>
	<key>groupProcessDirection</key>
	<string>monsterInsideProxy</string>
	<key>heapPatternOpacity</key>
	<string>capacitiesPhaseAppearance</string>
	<key>lossOfMode</key>
	<string>radioPerVariable</string>
	<key>playbackActionStatus</key>
	<string>logStateCenter</string>
	<key>streamAdapterCount</key>
	<string>anchorAwayTemple</string>
</dict>
</plist>
