<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalFragmentDuration</key>
	<string>interfaceMementoBottom</string>
	<key>currentBufferInteraction</key>
	<string>backwardAlignmentVisibility</string>
	<key>directInkwellInterval</key>
	<string>finalAwaitKind</string>
	<key>effectByTemple</key>
	<string>normalProviderMargin</string>
	<key>entityAgainstVisitor</key>
	<string>advancedDurationPadding</string>
	<key>layerTypeResponse</key>
	<string>specifierTypeSpacing</string>
	<key>usageDecoratorLeft</key>
	<string>drawerAwayTier</string>
</dict>
</plist>
