<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowOutsideVariable</key>
	<string>similarFrameTop</string>
	<key>handlerWithoutVariable</key>
	<string>concurrentBufferCenter</string>
	<key>hashSystemStyle</key>
	<string>decorationDuringObserver</string>
	<key>intermediateGemTheme</key>
	<string>resourceThroughPlatform</string>
	<key>memberExceptPhase</key>
	<string>visibleScaffoldLeft</string>
	<key>prismaticTitleValidation</key>
	<string>localizationParamOpacity</string>
	<key>spriteVariableRotation</key>
	<string>secondMarginTop</string>
	<key>standalonePositionVelocity</key>
	<string>contractionPatternInset</string>
</dict>
</plist>
