<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardProtocolTop</key>
	<string>loopModeOrientation</string>
	<key>basicExceptionKind</key>
	<string>stateNearAdapter</string>
	<key>gateBeyondFacade</key>
	<string>immediateDelegateStatus</string>
	<key>missedKernelSize</key>
	<string>delegateContainParam</string>
	<key>navigatorTierRotation</key>
	<string>retainedSubscriptionTail</string>
	<key>observerAlongShape</key>
	<string>chapterDecoratorTint</string>
	<key>sortedTangentEdge</key>
	<string>crucialCubitDepth</string>
	<key>topicExceptFramework</key>
	<string>characterByStage</string>
</dict>
</plist>
