<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertContainProxy</key>
	<string>pageviewStyleDirection</string>
	<key>effectAsContext</key>
	<string>asyncWithoutActivity</string>
	<key>euclideanGridKind</key>
	<string>subsequentReferenceSpacing</string>
	<key>lastCubeSaturation</key>
	<string>materialByScope</string>
	<key>logAdapterPressure</key>
	<string>logProxyInset</string>
	<key>managerParamTheme</key>
	<string>hardInterfaceOrigin</string>
	<key>painterViaType</key>
	<string>dedicatedChartDistance</string>
	<key>resourceAsWork</key>
	<string>constraintStructureAppearance</string>
	<key>sizeStrategyMargin</key>
	<string>specifierBeyondStage</string>
	<key>uniformRouteType</key>
	<string>sampleThroughVar</string>
</dict>
</plist>
