<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletEnvironmentColor</key>
	<string>oldTextureTag</string>
	<key>hyperbolicCaptionBorder</key>
	<string>sizedboxSingletonTension</string>
	<key>lostCoordinatorIndex</key>
	<string>methodSystemInteraction</string>
	<key>methodPatternContrast</key>
	<string>symmetricControllerColor</string>
	<key>timerAlongContext</key>
	<string>scrollableQueryTint</string>
	<key>transitionValueTheme</key>
	<string>managerAgainstVisitor</string>
</dict>
</plist>
