<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerFrameTop</key>
	<string>pinchableScaffoldShade</string>
	<key>displayableHandlerTop</key>
	<string>curveVersusForm</string>
	<key>grayscaleWithoutTier</key>
	<string>decorationMediatorTheme</string>
	<key>independentOffsetRate</key>
	<string>mediumQuerySkewx</string>
	<key>keyGroupTint</key>
	<string>rowWorkSkewy</string>
	<key>precisionDecoratorOrigin</key>
	<string>menuChainRight</string>
	<key>previewCommandCoord</key>
	<string>semanticsNearEnvironment</string>
	<key>resizableWidgetPosition</key>
	<string>titleShapeLeft</string>
	<key>spriteBufferOffset</key>
	<string>futureOfProxy</string>
	<key>workflowDecoratorFlags</key>
	<string>spriteActionSize</string>
</dict>
</plist>
