<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationPhaseDepth</key>
	<string>builderTierCoord</string>
	<key>currentLogVelocity</key>
	<string>hyperbolicSymbolDirection</string>
	<key>factoryLevelVelocity</key>
	<string>cosineDespiteObserver</string>
	<key>layoutAboutForm</key>
	<string>switchStrategySpacing</string>
	<key>navigatorValueScale</key>
	<string>adaptiveTabbarDepth</string>
</dict>
</plist>
