<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileTransitionInteraction</key>
	<string>cubeExceptTier</string>
	<key>nodeForFunction</key>
	<string>asynchronousCoordinatorDirection</string>
	<key>observerVarShade</key>
	<string>decorationWithoutDecorator</string>
	<key>statefulDurationTension</key>
	<string>stampAmongDecorator</string>
</dict>
</plist>
