<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionProxyDepth</key>
	<string>relationalGestureMomentum</string>
	<key>futureUntilWork</key>
	<string>hierarchicalParticleValidation</string>
	<key>mediaUntilBridge</key>
	<string>usecaseByActivity</string>
	<key>metadataProcessTail</key>
	<string>durationOutsideActivity</string>
	<key>substantialScreenPosition</key>
	<string>statelessInsideOperation</string>
</dict>
</plist>
