<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityActionOrientation</key>
	<string>interfaceJobTheme</string>
	<key>graphActivityPressure</key>
	<string>equalizationDecoratorSkewy</string>
	<key>parallelBlocSaturation</key>
	<string>resourceBufferName</string>
</dict>
</plist>
