<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>independentCapacitiesFormat</key>
	<string>robustMethodColor</string>
	<key>mediumObserverKind</key>
	<string>integerFunctionFormat</string>
	<key>stateNearNumber</key>
	<string>directRadiusVisibility</string>
</dict>
</plist>
