<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonProxyPosition</key>
	<string>repositoryScopeFrequency</string>
	<key>disabledDurationVisible</key>
	<string>tableParameterName</string>
	<key>firstGesturedetectorStatus</key>
	<string>robustStoreLocation</string>
	<key>gateAndVar</key>
	<string>labelMediatorSkewy</string>
	<key>globalGrainTail</key>
	<string>mediumCertificateHead</string>
	<key>layoutBeyondShape</key>
	<string>sensorBeyondOperation</string>
	<key>mediaqueryOfStage</key>
	<string>entityUntilVisitor</string>
	<key>missedModulusTag</key>
	<string>scaffoldTypeOpacity</string>
</dict>
</plist>
