<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoRichtextBound</key>
	<string>synchronousShaderVelocity</string>
	<key>observerChainSpacing</key>
	<string>sliderAmongStrategy</string>
	<key>routePlatformCenter</key>
	<string>inactiveAlertCenter</string>
</dict>
</plist>
