<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveActionColor</key>
	<string>globalGroupCenter</string>
	<key>handlerDuringContext</key>
	<string>storageNumberKind</string>
	<key>sinkThroughChain</key>
	<string>usecaseFrameworkSkewy</string>
	<key>storeMediatorTag</key>
	<string>nextAwaitResponse</string>
	<key>uniformAssetForce</key>
	<string>largeLabelEdge</string>
</dict>
</plist>
