<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureTaskDirection</key>
	<string>intuitiveGradientDistance</string>
	<key>cubeOutsideType</key>
	<string>capsuleBesideVar</string>
	<key>decorationLevelState</key>
	<string>activityChainContrast</string>
	<key>imageDuringLayer</key>
	<string>sliderPatternResponse</string>
	<key>mapStateOpacity</key>
	<string>durationAwayForm</string>
	<key>providerTempleSkewx</key>
	<string>sliderParameterColor</string>
	<key>respectiveFutureMode</key>
	<string>explicitInjectionMode</string>
	<key>subscriptionCommandVisibility</key>
	<string>commandSystemStyle</string>
	<key>timerNearParam</key>
	<string>responsePlatformLeft</string>
	<key>usedAnimatedcontainerTail</key>
	<string>progressbarDespiteLevel</string>
</dict>
</plist>
