<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventTypeTransparency</key>
	<string>richtextAmongForm</string>
	<key>gridviewParameterDuration</key>
	<string>buttonOrKind</string>
	<key>materialStorageTint</key>
	<string>notificationThanLevel</string>
	<key>normParameterCenter</key>
	<string>eagerGestureTint</string>
	<key>paddingAdapterMomentum</key>
	<string>textfieldStructureMargin</string>
	<key>reusableListviewSkewx</key>
	<string>capacitiesObserverTint</string>
	<key>significantGesturedetectorStatus</key>
	<string>transitionForWork</string>
	<key>subscriptionOfWork</key>
	<string>remainderBeyondMode</string>
	<key>subtleHeroOrigin</key>
	<string>signatureWithoutPattern</string>
</dict>
</plist>
