<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryKindType</key>
	<string>effectMementoTag</string>
	<key>assetKindTension</key>
	<string>scrollAboutParam</string>
	<key>consultativeRoleStatus</key>
	<string>assetFlyweightShade</string>
	<key>desktopLoopVelocity</key>
	<string>cubitAlongLevel</string>
	<key>ephemeralLabelState</key>
	<string>graphJobCenter</string>
	<key>gestureBridgeValidation</key>
	<string>serviceAboutFacade</string>
	<key>labelVariableBrightness</key>
	<string>hashProcessVelocity</string>
	<key>pivotalGridDirection</key>
	<string>streamFromFramework</string>
	<key>requestVersusContext</key>
	<string>nativeReductionLocation</string>
	<key>significantLoopAlignment</key>
	<string>alertTierIndex</string>
</dict>
</plist>
