<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iterativeLossAppearance</key>
	<string>commonChallengeCenter</string>
	<key>liteSpineAppearance</key>
	<string>deferredRouteSkewx</string>
	<key>presenterThroughLayer</key>
	<string>gateAgainstDecorator</string>
	<key>priorityAdapterVelocity</key>
	<string>statelessPreviewTint</string>
	<key>sharedTangentForce</key>
	<string>binaryTierBound</string>
</dict>
</plist>
