<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationVersusOperation</key>
	<string>certificateDespiteEnvironment</string>
	<key>constContractionLocation</key>
	<string>navigationPerFunction</string>
	<key>consultativeControllerForce</key>
	<string>spriteTierMode</string>
	<key>plateAmongProcess</key>
	<string>sizeIncludeTier</string>
	<key>requiredPetSaturation</key>
	<string>statelessCurveCoord</string>
	<key>sizeBridgeBound</key>
	<string>hashIncludeTemple</string>
	<key>temporaryManagerTail</key>
	<string>bufferMementoLocation</string>
</dict>
</plist>
