<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalLogarithmCount</key>
	<string>kernelAboutSystem</string>
	<key>cycleParamContrast</key>
	<string>navigatorMediatorShade</string>
	<key>frameNearParam</key>
	<string>marginInterpreterBehavior</string>
	<key>handlerSinceTemple</key>
	<string>futureWithoutPhase</string>
	<key>interfaceActionContrast</key>
	<string>accessibleChallengeForce</string>
	<key>localizationContainLayer</key>
	<string>chartWorkTint</string>
	<key>mediocreCommandTransparency</key>
	<string>modulusViaShape</string>
	<key>protocolPlatformDelay</key>
	<string>rectPlatformDistance</string>
	<key>radioAmongScope</key>
	<string>layoutStructureSkewx</string>
	<key>rowWorkOffset</key>
	<string>sequentialScreenLocation</string>
</dict>
</plist>
