<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousScreenAcceleration</key>
	<string>associatedStampTag</string>
	<key>basicExponentDelay</key>
	<string>transformerObserverMode</string>
	<key>dependencyCompositeContrast</key>
	<string>checkboxAlongKind</string>
	<key>largeControllerBound</key>
	<string>interfaceViaCycle</string>
	<key>navigatorTypeScale</key>
	<string>imperativeStampCoord</string>
	<key>requiredBrushState</key>
	<string>transformerPatternBound</string>
</dict>
</plist>
