<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentWithoutVisitor</key>
	<string>sharedContainerDepth</string>
	<key>semanticConsumerColor</key>
	<string>radioVariableRate</string>
	<key>statefulCaptionBorder</key>
	<string>promiseAboutPrototype</string>
	<key>subscriptionLayerScale</key>
	<string>modelTempleTransparency</string>
</dict>
</plist>
