<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeVisitorHue</key>
	<string>frameMethodSize</string>
	<key>nodeThanObserver</key>
	<string>sizeIncludeMethod</string>
	<key>petBridgeDistance</key>
	<string>robustEffectResponse</string>
	<key>reusableGroupInterval</key>
	<string>convolutionInsideProcess</string>
	<key>statelessProjectionSaturation</key>
	<string>lostConvolutionPosition</string>
</dict>
</plist>
