<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorInterpreterSkewy</key>
	<string>brushPerMediator</string>
	<key>animationAgainstFlyweight</key>
	<string>boxshadowEnvironmentSpacing</string>
	<key>basicTangentIndex</key>
	<string>alignmentInterpreterMomentum</string>
	<key>clipperTierTop</key>
	<string>masterChainAcceleration</string>
	<key>greatToolForce</key>
	<string>finalReferenceCenter</string>
	<key>monsterAwaySystem</key>
	<string>sharedContainerInterval</string>
</dict>
</plist>
