<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousSinkBorder</key>
	<string>curveAwayStyle</string>
	<key>disabledIsolateVelocity</key>
	<string>opaqueModalRight</string>
	<key>entityWithoutProcess</key>
	<string>tappableSliderSkewx</string>
	<key>missedPlateOpacity</key>
	<string>routeSinceValue</string>
	<key>optionFromVar</key>
	<string>disparatePlaybackDirection</string>
	<key>segmentFromOperation</key>
	<string>ignoredErrorForce</string>
</dict>
</plist>
