<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instructionInOperation</key>
	<string>sliderStateContrast</string>
	<key>interpolationEnvironmentShade</key>
	<string>queueWithoutJob</string>
	<key>optionFunctionTension</key>
	<string>sineJobHue</string>
</dict>
</plist>
