<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentCubeBehavior</key>
	<string>spriteWithActivity</string>
	<key>errorOutsideVar</key>
	<string>sizeIncludeWork</string>
	<key>lastAccessorySpacing</key>
	<string>callbackFunctionDistance</string>
</dict>
</plist>
