<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryFlyweightName</key>
	<string>channelWithStructure</string>
	<key>animationExceptTier</key>
	<string>imperativeShaderHead</string>
	<key>durationExceptPhase</key>
	<string>navigatorVarDelay</string>
	<key>factoryVersusChain</key>
	<string>marginLikeFunction</string>
	<key>firstZoneShade</key>
	<string>coordinatorDespiteLayer</string>
	<key>isolateMementoColor</key>
	<string>hashNearMode</string>
	<key>layerObserverMomentum</key>
	<string>diversifiedAnimatedcontainerLeft</string>
	<key>playbackBeyondVar</key>
	<string>reductionPlatformSpacing</string>
	<key>queryAwayMediator</key>
	<string>singleDropdownbuttonInterval</string>
</dict>
</plist>
