<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowTaskMode</key>
	<string>inkwellSingletonVelocity</string>
	<key>configurationWorkColor</key>
	<string>resolverKindTop</string>
	<key>momentumVisitorFeedback</key>
	<string>sliderPrototypeDuration</string>
	<key>offsetThanChain</key>
	<string>accessibleIntensitySpacing</string>
	<key>resolverTempleStyle</key>
	<string>imageMethodOpacity</string>
	<key>usedReducerCenter</key>
	<string>completerVersusParameter</string>
</dict>
</plist>
