<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeFutureDistance</key>
	<string>descriptionTypePressure</string>
	<key>eagerConsumerState</key>
	<string>handlerAmongMediator</string>
	<key>gateThroughShape</key>
	<string>inactiveHeapCoord</string>
	<key>giftAndWork</key>
	<string>activeSizeCenter</string>
	<key>immediateDescriptorTransparency</key>
	<string>subsequentStepEdge</string>
	<key>immutableObserverRight</key>
	<string>storeContextDensity</string>
	<key>loopFunctionShape</key>
	<string>globalReferenceDistance</string>
	<key>masterPerAdapter</key>
	<string>finalSemanticsRotation</string>
	<key>normalModelRate</key>
	<string>normalExpandedType</string>
</dict>
</plist>
