<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphParameterTop</key>
	<string>characterFacadeMomentum</string>
	<key>listenerBeyondValue</key>
	<string>timerProxySkewx</string>
	<key>managerPrototypeTheme</key>
	<string>isolateNumberTag</string>
	<key>statefulTypeStatus</key>
	<string>reducerProcessShade</string>
	<key>swiftFrameworkPressure</key>
	<string>gateWithoutObserver</string>
	<key>symbolValueType</key>
	<string>certificateStrategyTheme</string>
</dict>
</plist>
