<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaTypeEdge</key>
	<string>difficultGemScale</string>
	<key>certificateIncludeStyle</key>
	<string>signaturePlatformTint</string>
	<key>checklistContextFeedback</key>
	<string>menuOutsideProcess</string>
	<key>constraintFunctionLocation</key>
	<string>getxFromForm</string>
	<key>lastGetxHead</key>
	<string>singletonThroughChain</string>
	<key>mapLevelPadding</key>
	<string>rowSinceVisitor</string>
	<key>optimizerLayerTail</key>
	<string>richtextParamMode</string>
	<key>semanticCommandFlags</key>
	<string>singletonInValue</string>
	<key>tangentPrototypeStyle</key>
	<string>functionalPositionOffset</string>
	<key>ternaryObserverSkewx</key>
	<string>radioOrParameter</string>
</dict>
</plist>
