<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customMethodVisible</key>
	<string>instructionProcessDensity</string>
	<key>interfaceFormPosition</key>
	<string>permissiveGateAlignment</string>
	<key>statefulListviewAlignment</key>
	<string>radioVersusChain</string>
	<key>techniqueForContext</key>
	<string>switchScopeStatus</string>
	<key>widgetLikeKind</key>
	<string>gridThroughForm</string>
</dict>
</plist>
