<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCanvasSkewx</key>
	<string>workflowViaVisitor</string>
	<key>buttonContextIndex</key>
	<string>delegateAndBridge</string>
	<key>serviceThroughCommand</key>
	<string>mobxWorkHue</string>
	<key>switchInterpreterTag</key>
	<string>customMediaTheme</string>
	<key>techniqueUntilFlyweight</key>
	<string>switchParamMargin</string>
	<key>uniqueInterfaceMargin</key>
	<string>mediumIsolateForce</string>
</dict>
</plist>
