<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartBesideForm</key>
	<string>resolverAlongContext</string>
	<key>completerBesidePattern</key>
	<string>accordionAwaitCount</string>
	<key>inheritedNodeBorder</key>
	<string>monsterExceptPlatform</string>
	<key>invisibleProjectOpacity</key>
	<string>asyncKindVelocity</string>
</dict>
</plist>
