<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardEntityCount</key>
	<string>projectFacadeRight</string>
	<key>buttonDuringShape</key>
	<string>substantialScrollMargin</string>
	<key>concreteCollectionShape</key>
	<string>captionPlatformStyle</string>
	<key>geometricButtonBrightness</key>
	<string>menuOrVariable</string>
	<key>missionIncludeStrategy</key>
	<string>richtextParamSpacing</string>
</dict>
</plist>
