<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedConvolutionName</key>
	<string>durationFlyweightOpacity</string>
	<key>diversifiedMethodState</key>
	<string>cycleIncludeAction</string>
	<key>factoryAlongComposite</key>
	<string>inactiveBaselineCenter</string>
	<key>granularActionAcceleration</key>
	<string>diversifiedCupertinoMomentum</string>
	<key>iconMementoFlags</key>
	<string>variantStateCoord</string>
	<key>immediateStatelessForce</key>
	<string>appbarPatternDuration</string>
	<key>labelInMethod</key>
	<string>interfaceLevelBrightness</string>
	<key>offsetAroundTemple</key>
	<string>memberInCommand</string>
	<key>playbackPerActivity</key>
	<string>titleThroughKind</string>
	<key>requestSingletonVelocity</key>
	<string>declarativeSegueStyle</string>
</dict>
</plist>
