<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisOfPhase</key>
	<string>similarResultScale</string>
	<key>smartSingletonIndex</key>
	<string>imperativeMaterialTransparency</string>
	<key>statefulEventCount</key>
	<string>semanticEntityPosition</string>
</dict>
</plist>
