<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerInsideTier</key>
	<string>profileAtMediator</string>
	<key>fusedGatePressure</key>
	<string>dimensionFlyweightDirection</string>
	<key>heapFromVisitor</key>
	<string>radiusAwayKind</string>
	<key>histogramAmongFacade</key>
	<string>mediumObserverBottom</string>
	<key>kernelSystemInset</key>
	<string>rowInTask</string>
	<key>specifyEffectOrigin</key>
	<string>interpolationObserverBottom</string>
</dict>
</plist>
