<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorByBuffer</key>
	<string>significantModelSkewy</string>
	<key>cubeCompositeContrast</key>
	<string>denseGemState</string>
	<key>loopWithProxy</key>
	<string>subtleDelegateVisible</string>
	<key>radiusLayerOffset</key>
	<string>transitionPerAction</string>
	<key>routeViaLevel</key>
	<string>radiusDespiteLayer</string>
	<key>segueByAdapter</key>
	<string>hyperbolicConstraintAppearance</string>
	<key>usedGateScale</key>
	<string>dedicatedSlashPosition</string>
</dict>
</plist>
