<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerMasterShape</key>
	<string>optimizerContainProxy</string>
	<key>logarithmPatternShade</key>
	<string>techniqueMediatorSize</string>
	<key>pageviewOperationMode</key>
	<string>captionSinceStructure</string>
	<key>rapidLogarithmMode</key>
	<string>slashTempleMode</string>
	<key>skinStateOrigin</key>
	<string>lazyFeatureHead</string>
	<key>utilContextContrast</key>
	<string>declarativeCommandPressure</string>
</dict>
</plist>
