<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncInFacade</key>
	<string>normActivityTransparency</string>
	<key>behaviorContainFunction</key>
	<string>sequentialPainterContrast</string>
	<key>chapterPerStage</key>
	<string>assetForSingleton</string>
	<key>deferredMaterialColor</key>
	<string>vectorFormCount</string>
	<key>immediateArithmeticStatus</key>
	<string>dependencyAdapterDepth</string>
	<key>newestTransformerTransparency</key>
	<string>cubitFacadeBottom</string>
	<key>providerOutsideLayer</key>
	<string>decorationPhaseTint</string>
	<key>viewLevelPadding</key>
	<string>layerForTier</string>
	<key>viewVersusStage</key>
	<string>graphCycleVisible</string>
</dict>
</plist>
