<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocVersusTask</key>
	<string>stateDespiteObserver</string>
	<key>layerThanInterpreter</key>
	<string>intuitiveIsolateOrientation</string>
	<key>notifierAsComposite</key>
	<string>deferredInterpolationMargin</string>
	<key>petInsideType</key>
	<string>widgetBeyondCycle</string>
	<key>tabbarThanVar</key>
	<string>mobileRoleScale</string>
</dict>
</plist>
