<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxSingletonState</key>
	<string>futureStateMargin</string>
	<key>lastDecorationRight</key>
	<string>lazyHandlerSize</string>
	<key>mapWithAction</key>
	<string>persistentCallbackAppearance</string>
	<key>queueBesideFramework</key>
	<string>completerWithLevel</string>
	<key>richtextUntilProxy</key>
	<string>precisionInterpreterBottom</string>
	<key>techniqueAmongLayer</key>
	<string>bulletParamFlags</string>
</dict>
</plist>
