<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iconBesideStyle</key>
	<string>menuAwayWork</string>
	<key>queryBeyondForm</key>
	<string>inheritedTextfieldMode</string>
	<key>reactiveTopicSpacing</key>
	<string>timerLikeObserver</string>
	<key>streamNearLevel</key>
	<string>storyboardBeyondCycle</string>
	<key>subscriptionCommandInset</key>
	<string>providerAmongNumber</string>
	<key>zoneAsChain</key>
	<string>lastQueryName</string>
	<key>zoneSingletonAlignment</key>
	<string>transformerScopeValidation</string>
</dict>
</plist>
