<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerNumberTag</key>
	<string>lastIndicatorCoord</string>
	<key>configurationInterpreterStyle</key>
	<string>backwardOffsetStyle</string>
	<key>cupertinoProjectionBrightness</key>
	<string>delegateOfType</string>
	<key>sinkDespiteCommand</key>
	<string>curveAtPhase</string>
	<key>unaryNearBridge</key>
	<string>multiNotifierOpacity</string>
</dict>
</plist>
