<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitActivityOffset</key>
	<string>curvePlatformBehavior</string>
	<key>descriptionFormOrigin</key>
	<string>slashUntilVisitor</string>
	<key>factoryIncludePlatform</key>
	<string>respectiveCapacitiesBorder</string>
	<key>tabviewSinceValue</key>
	<string>momentumNumberSpeed</string>
	<key>ternaryOutsideCommand</key>
	<string>builderDuringAction</string>
	<key>ternaryVersusJob</key>
	<string>factoryAsPhase</string>
</dict>
</plist>
