<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerThroughFlyweight</key>
	<string>lastGridHue</string>
	<key>builderModeLeft</key>
	<string>opaqueMasterSkewx</string>
	<key>builderThroughCycle</key>
	<string>asyncAppbarDepth</string>
	<key>curveStagePosition</key>
	<string>ternarySystemCenter</string>
	<key>lastScaleCount</key>
	<string>richtextDuringInterpreter</string>
	<key>otherCommandPressure</key>
	<string>layoutCommandMargin</string>
	<key>rowAndVar</key>
	<string>sharedFeatureBrightness</string>
	<key>sineFunctionEdge</key>
	<string>cellAlongPattern</string>
	<key>skirtAroundTask</key>
	<string>descriptorVersusParam</string>
</dict>
</plist>
