<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellOfSingleton</key>
	<string>storeAsMethod</string>
	<key>deferredCaptionOrigin</key>
	<string>storageAlongKind</string>
	<key>discardedUtilDirection</key>
	<string>stampBesideShape</string>
	<key>frameTempleVisibility</key>
	<string>adaptiveSizeTension</string>
	<key>menuJobDirection</key>
	<string>retainedIsolateValidation</string>
	<key>queueFunctionDuration</key>
	<string>scrollableChartInterval</string>
	<key>transformerFormVisible</key>
	<string>stampModeBehavior</string>
	<key>uniformCurveHead</key>
	<string>diversifiedRouteOpacity</string>
</dict>
</plist>
