<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushLayerName</key>
	<string>requestStructureTransparency</string>
	<key>decorationAroundNumber</key>
	<string>entropyVarOffset</string>
	<key>extensionProcessTension</key>
	<string>unsortedGridviewAlignment</string>
	<key>futureTempleFrequency</key>
	<string>symbolLayerTop</string>
	<key>methodOfStructure</key>
	<string>flexibleMovementAppearance</string>
	<key>normIncludeStructure</key>
	<string>completerStateTransparency</string>
	<key>radiusInCycle</key>
	<string>dependencyAndCycle</string>
	<key>rectUntilJob</key>
	<string>curveValueFormat</string>
	<key>reducerModeOrientation</key>
	<string>finalReductionCount</string>
	<key>sceneThanNumber</key>
	<string>textValueBorder</string>
</dict>
</plist>
