<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncLikeLayer</key>
	<string>positionedWithoutMode</string>
	<key>chartVariableShape</key>
	<string>tableAroundMediator</string>
	<key>modelAroundKind</key>
	<string>integerFormContrast</string>
	<key>similarPositionStatus</key>
	<string>builderExceptBuffer</string>
	<key>slashOutsideOperation</key>
	<string>compositionVariableDelay</string>
	<key>sortedDescriptorLeft</key>
	<string>curveOperationFormat</string>
	<key>switchExceptComposite</key>
	<string>viewFunctionDistance</string>
	<key>symbolBeyondParameter</key>
	<string>graphPhaseCoord</string>
	<key>vectorInsideDecorator</key>
	<string>positionFunctionRight</string>
	<key>widgetProxyTag</key>
	<string>navigatorAmongTier</string>
</dict>
</plist>
