<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInterpreterOpacity</key>
	<string>boxshadowAmongVar</string>
	<key>challengeStateRight</key>
	<string>commandLikeScope</string>
	<key>channelWorkTension</key>
	<string>commonInstructionLeft</string>
	<key>configurationOfKind</key>
	<string>sizedboxAmongType</string>
	<key>custompaintIncludeMediator</key>
	<string>cursorTempleTag</string>
	<key>decorationIncludeBuffer</key>
	<string>mediumMapBehavior</string>
	<key>nodeOfJob</key>
	<string>builderVariableCount</string>
	<key>synchronousTickerMode</key>
	<string>accessoryShapeMargin</string>
</dict>
</plist>
