<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderLayerPadding</key>
	<string>sortedSpriteRate</string>
	<key>errorFrameworkSpacing</key>
	<string>playbackForFunction</string>
	<key>reducerEnvironmentSaturation</key>
	<string>statelessBesideScope</string>
	<key>unsortedAspectScale</key>
	<string>layoutEnvironmentSize</string>
</dict>
</plist>
