<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushOrPlatform</key>
	<string>adaptiveListenerValidation</string>
	<key>completionPhaseScale</key>
	<string>accessibleRemainderCount</string>
	<key>disparateMediaqueryDuration</key>
	<string>utilDespiteActivity</string>
	<key>displayableLayoutCenter</key>
	<string>storyboardOfFunction</string>
	<key>equalizationOfAdapter</key>
	<string>responseEnvironmentTag</string>
	<key>equalizationOrTier</key>
	<string>transitionLayerKind</string>
	<key>listenerAsMethod</key>
	<string>routeMediatorOffset</string>
	<key>notificationDecoratorPadding</key>
	<string>graphicFromStructure</string>
</dict>
</plist>
