<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imperativePromiseDelay</key>
	<string>taskThanCycle</string>
	<key>intermediateStatelessTag</key>
	<string>gateFunctionMargin</string>
	<key>lossContextAcceleration</key>
	<string>richtextVariableColor</string>
	<key>previewThanNumber</key>
	<string>statelessDuringKind</string>
	<key>subpixelPrototypeBehavior</key>
	<string>assetAgainstPhase</string>
</dict>
</plist>
