<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonContextKind</key>
	<string>reducerAwayParam</string>
	<key>getxOfDecorator</key>
	<string>isolateAroundFacade</string>
	<key>listenerFacadeInset</key>
	<string>interactorDespiteAdapter</string>
	<key>prismaticToolOpacity</key>
	<string>animatedAllocatorCenter</string>
	<key>respectiveCubeTag</key>
	<string>notificationTempleDirection</string>
	<key>semanticSubpixelShade</key>
	<string>missedAsyncFrequency</string>
	<key>signActionKind</key>
	<string>flexOfBridge</string>
	<key>similarSignatureEdge</key>
	<string>contractionFacadeSaturation</string>
	<key>tweenActionInset</key>
	<string>flexibleCubeBound</string>
	<key>usageStateVelocity</key>
	<string>spriteProcessDuration</string>
</dict>
</plist>
