<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAsMediator</key>
	<string>positionTypeVisible</string>
	<key>directlyAnimatedcontainerInterval</key>
	<string>singletonVarAcceleration</string>
	<key>exceptionAboutJob</key>
	<string>menuTempleShade</string>
	<key>intermediateBulletTheme</key>
	<string>layoutInEnvironment</string>
	<key>layoutPrototypeVisibility</key>
	<string>gesturedetectorAdapterDuration</string>
	<key>listenerTempleHue</key>
	<string>labelEnvironmentCenter</string>
	<key>sophisticatedGesturedetectorContrast</key>
	<string>radiusOutsideValue</string>
</dict>
</plist>
