<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowDecoratorFrequency</key>
	<string>constraintModeScale</string>
	<key>chartNearBuffer</key>
	<string>directEventSpacing</string>
	<key>documentWorkVisible</key>
	<string>intensityDuringJob</string>
	<key>eagerRepositoryTension</key>
	<string>eventInterpreterInterval</string>
	<key>errorFunctionInteraction</key>
	<string>cubitOfPrototype</string>
	<key>gradientForChain</key>
	<string>delicateAlphaPressure</string>
	<key>iconCycleName</key>
	<string>logUntilVisitor</string>
	<key>immutableBoxshadowCoord</key>
	<string>dedicatedPrecisionMode</string>
	<key>notifierDespiteShape</key>
	<string>tabviewFunctionHead</string>
	<key>sustainableInterfacePressure</key>
	<string>inactiveTopicRate</string>
</dict>
</plist>
