<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocPrototypeLeft</key>
	<string>entropyStructureKind</string>
	<key>delegateCommandOffset</key>
	<string>scaleStructureFormat</string>
	<key>denseChartFormat</key>
	<string>checkboxTierBottom</string>
	<key>flexibleSubscriptionOpacity</key>
	<string>builderVersusCommand</string>
	<key>gateStyleVelocity</key>
	<string>curveDespiteType</string>
	<key>nodeExceptProxy</key>
	<string>sensorInsideProxy</string>
	<key>remainderByEnvironment</key>
	<string>numericalGraphicSpacing</string>
	<key>specifyLabelBound</key>
	<string>intermediateOptimizerValidation</string>
</dict>
</plist>
