<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeMusicDuration</key>
	<string>blocFormOrigin</string>
	<key>cycleTempleFeedback</key>
	<string>dropdownbuttonProxySpeed</string>
	<key>descriptionFlyweightHead</key>
	<string>themeAlongPattern</string>
	<key>largeTouchOpacity</key>
	<string>inkwellByChain</string>
	<key>optionBeyondBridge</key>
	<string>lossOfParam</string>
	<key>pinchableAnimatedcontainerFlags</key>
	<string>commonAlertName</string>
	<key>popupAroundKind</key>
	<string>symmetricConfigurationSpacing</string>
	<key>singletonActivityCenter</key>
	<string>flexByComposite</string>
	<key>timerNearActivity</key>
	<string>layoutVisitorVisible</string>
</dict>
</plist>
