<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionStrategyCenter</key>
	<string>playbackExceptBuffer</string>
	<key>composableNodeShape</key>
	<string>tweenBridgeMargin</string>
	<key>layerShapeColor</key>
	<string>decorationStyleDistance</string>
	<key>previewFacadeFrequency</key>
	<string>injectionFormVelocity</string>
	<key>prismaticBatchRotation</key>
	<string>enabledArithmeticPressure</string>
	<key>retainedRadioVelocity</key>
	<string>resourceAdapterPosition</string>
	<key>touchOrInterpreter</key>
	<string>gridviewStyleTag</string>
	<key>webLayoutFeedback</key>
	<string>plateForPattern</string>
</dict>
</plist>
