<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferOutsideChain</key>
	<string>progressbarVisitorBrightness</string>
	<key>checkboxFrameworkOpacity</key>
	<string>skirtPhaseVisibility</string>
	<key>columnAboutDecorator</key>
	<string>offsetTempleTag</string>
	<key>menuBeyondActivity</key>
	<string>factoryTierContrast</string>
	<key>offsetAboutForm</key>
	<string>batchAwayMode</string>
	<key>progressbarVisitorBottom</key>
	<string>observerNearContext</string>
	<key>radiusObserverShape</key>
	<string>completionTierTint</string>
	<key>streamOrObserver</key>
	<string>labelIncludeFacade</string>
	<key>tensorObserverFormat</key>
	<string>alphaUntilScope</string>
	<key>transitionAsMemento</key>
	<string>matrixForPlatform</string>
</dict>
</plist>
