<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetParamRotation</key>
	<string>assetNumberState</string>
	<key>cubitBufferPosition</key>
	<string>containerAboutParameter</string>
	<key>desktopObserverContrast</key>
	<string>effectFormMomentum</string>
	<key>sessionFlyweightFrequency</key>
	<string>extensionInKind</string>
	<key>touchThanProcess</key>
	<string>seamlessFeatureSpeed</string>
	<key>workflowBufferCount</key>
	<string>synchronousInterfaceRotation</string>
</dict>
</plist>
