<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAwayFramework</key>
	<string>sceneCommandAppearance</string>
	<key>cardProxyStyle</key>
	<string>queryChainForce</string>
	<key>coordinatorAdapterFrequency</key>
	<string>commonBrushAppearance</string>
	<key>coordinatorUntilNumber</key>
	<string>seamlessIsolateDepth</string>
	<key>cubitSingletonMode</key>
	<string>navigationActivityOrigin</string>
	<key>equipmentInsideJob</key>
	<string>protectedOffsetDirection</string>
	<key>liteCertificateBehavior</key>
	<string>alignmentCompositeDuration</string>
	<key>mapThanParameter</key>
	<string>exceptionLevelBrightness</string>
	<key>mobileModeForce</key>
	<string>viewSinceMode</string>
	<key>nibProxyBorder</key>
	<string>activatedEntropyBottom</string>
</dict>
</plist>
