<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianCompleterPressure</key>
	<string>aspectratioParamFeedback</string>
	<key>channelsByMode</key>
	<string>frameLevelShade</string>
	<key>compositionAlongStyle</key>
	<string>histogramContainFlyweight</string>
	<key>newestWidgetTag</key>
	<string>primaryGateSaturation</string>
	<key>numericalGroupMomentum</key>
	<string>curveValueFormat</string>
	<key>particleForCycle</key>
	<string>transformerThroughCycle</string>
	<key>queueVariableCenter</key>
	<string>concreteNavigatorBehavior</string>
	<key>significantButtonBound</key>
	<string>dropdownbuttonExceptState</string>
</dict>
</plist>
