<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getxInSingleton</key>
	<string>animationInVisitor</string>
	<key>lazyChannelInterval</key>
	<string>touchAlongFunction</string>
	<key>listenerVersusStructure</key>
	<string>concurrentNavigationForce</string>
	<key>nativeResponseDistance</key>
	<string>blocExceptProcess</string>
	<key>shaderFormBottom</key>
	<string>sequentialSpineAppearance</string>
</dict>
</plist>
