<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fragmentNearTemple</key>
	<string>assetPhaseSaturation</string>
	<key>greatGrayscaleIndex</key>
	<string>tappableGroupTransparency</string>
	<key>immediateThreadSize</key>
	<string>progressbarWithoutType</string>
	<key>layerStateStyle</key>
	<string>featureWithSystem</string>
	<key>popupByPrototype</key>
	<string>compositionalResolverTint</string>
	<key>projectionStateDuration</key>
	<string>aspectratioAsSystem</string>
	<key>shaderOrFlyweight</key>
	<string>denseAssetHue</string>
	<key>webRadiusFeedback</key>
	<string>functionalStatelessCoord</string>
</dict>
</plist>
