<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerStrategyShape</key>
	<string>alignmentCycleVelocity</string>
	<key>durationDecoratorForce</key>
	<string>curveContextCoord</string>
	<key>elasticProjectKind</key>
	<string>viewDuringStrategy</string>
	<key>exponentChainStatus</key>
	<string>dynamicProfileRight</string>
	<key>hardOverlaySkewx</key>
	<string>explicitWidgetCenter</string>
	<key>hyperbolicGramKind</key>
	<string>callbackInJob</string>
	<key>queryLikeObserver</key>
	<string>borderWithValue</string>
	<key>responsePhaseVisibility</key>
	<string>segueDespiteSystem</string>
	<key>tensorDialogsInteraction</key>
	<string>finalPresenterSize</string>
</dict>
</plist>
