<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveListenerDuration</key>
	<string>promiseBesideCommand</string>
	<key>heapMediatorVelocity</key>
	<string>sophisticatedRemainderVisible</string>
	<key>popupSincePattern</key>
	<string>customizedMultiplicationLeft</string>
	<key>rowDecoratorType</key>
	<string>methodVariableLocation</string>
	<key>sharedLoopBrightness</key>
	<string>directViewSkewx</string>
	<key>touchThanNumber</key>
	<string>metadataContextSaturation</string>
</dict>
</plist>
