<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAroundAction</key>
	<string>histogramInsideStage</string>
	<key>awaitWithTemple</key>
	<string>checklistAtStage</string>
	<key>commandCommandKind</key>
	<string>requiredPositionFrequency</string>
	<key>cursorBufferTransparency</key>
	<string>textureIncludeOperation</string>
	<key>heapParameterOffset</key>
	<string>arithmeticSampleSkewy</string>
	<key>parallelDimensionStatus</key>
	<string>interactorNearJob</string>
	<key>parallelStatefulAppearance</key>
	<string>managerAdapterForce</string>
	<key>scaleLevelShade</key>
	<string>materialNavigatorSkewx</string>
	<key>semanticUsecaseDepth</key>
	<string>materialVarResponse</string>
	<key>tableProxyDirection</key>
	<string>fusedDialogsCount</string>
</dict>
</plist>
