<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticMenuTension</key>
	<string>originalToolMomentum</string>
	<key>declarativePetStyle</key>
	<string>missedTexturePressure</string>
	<key>grainContainAction</key>
	<string>nodeAlongAction</string>
	<key>hashThanProxy</key>
	<string>unaryUntilFlyweight</string>
	<key>resolverThanOperation</key>
	<string>interactorWithStyle</string>
	<key>responseAroundBridge</key>
	<string>capsuleVariableTag</string>
	<key>subpixelActivitySkewy</key>
	<string>challengeValueBehavior</string>
	<key>usageStateName</key>
	<string>marginAroundFacade</string>
</dict>
</plist>
