<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushAtLevel</key>
	<string>requiredUsageInteraction</string>
	<key>delicateAllocatorFormat</key>
	<string>capsuleStructureContrast</string>
	<key>effectUntilLevel</key>
	<string>priorDelegateBrightness</string>
	<key>hashLayerCenter</key>
	<string>sensorFacadeBorder</string>
	<key>mapProxySize</key>
	<string>animatedStreamTheme</string>
	<key>matrixFormAlignment</key>
	<string>getxOperationDistance</string>
	<key>responseVisitorMargin</key>
	<string>capacitiesParamHead</string>
	<key>timerSinceTask</key>
	<string>adaptiveMonsterMode</string>
</dict>
</plist>
