<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerGemRate</key>
	<string>getxFromValue</string>
	<key>controllerOrFacade</key>
	<string>priorityAlongProxy</string>
	<key>localDurationFrequency</key>
	<string>accessibleTopicName</string>
	<key>storagePrototypeHue</key>
	<string>desktopSampleIndex</string>
	<key>usageFunctionKind</key>
	<string>axisObserverIndex</string>
</dict>
</plist>
