<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncQueueDistance</key>
	<string>accessoryDecoratorType</string>
	<key>checkboxAsParam</key>
	<string>currentThreadVisible</string>
	<key>constraintValueLeft</key>
	<string>capsuleContainTemple</string>
	<key>customizedSegueBound</key>
	<string>cosineActivityType</string>
	<key>expandedPrototypePadding</key>
	<string>hierarchicalInterpolationDensity</string>
	<key>listviewStructureDensity</key>
	<string>taskVariableSpeed</string>
	<key>lossLevelDensity</key>
	<string>responsiveApertureBorder</string>
	<key>statefulSystemVisible</key>
	<string>mediocrePlaybackShape</string>
	<key>workflowFacadePosition</key>
	<string>granularUnaryDensity</string>
</dict>
</plist>
