<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometricCubitTail</key>
	<string>listenerNearInterpreter</string>
	<key>globalProviderAppearance</key>
	<string>gateVersusWork</string>
	<key>smartStampSpeed</key>
	<string>memberFromLayer</string>
	<key>spotOrTask</key>
	<string>resultTempleRate</string>
</dict>
</plist>
