<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interfaceWithFacade</key>
	<string>declarativeBaseOffset</string>
	<key>pinchableGraphPressure</key>
	<string>repositoryDespiteValue</string>
	<key>popupStageDuration</key>
	<string>certificateDuringPhase</string>
	<key>prismaticRequestPosition</key>
	<string>themeStyleFlags</string>
	<key>projectionCommandBrightness</key>
	<string>mobxMementoSpacing</string>
	<key>subpixelOrProcess</key>
	<string>customizedEffectColor</string>
</dict>
</plist>
