<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartOfValue</key>
	<string>globalErrorOrientation</string>
	<key>consultativeBoxFlags</key>
	<string>imageTaskEdge</string>
	<key>fixedAlignmentFrequency</key>
	<string>builderInStyle</string>
	<key>imperativePriorityAcceleration</key>
	<string>gesturedetectorExceptInterpreter</string>
	<key>priorGiftShape</key>
	<string>rectAgainstState</string>
	<key>responseBesideTier</key>
	<string>checkboxThroughJob</string>
	<key>semanticsCycleCoord</key>
	<string>retainedActionBrightness</string>
	<key>vectorNumberOrientation</key>
	<string>futureInsideShape</string>
</dict>
</plist>
