<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionByActivity</key>
	<string>featureLevelSkewy</string>
	<key>autoPainterHead</key>
	<string>liteEffectRate</string>
	<key>movementOutsideFacade</key>
	<string>sessionTaskCount</string>
	<key>mutableReferenceBorder</key>
	<string>crudeProfileDistance</string>
	<key>nativeQueryOffset</key>
	<string>alignmentAroundSingleton</string>
	<key>sustainableTabbarHead</key>
	<string>catalystEnvironmentVisibility</string>
</dict>
</plist>
