<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedLabelRotation</key>
	<string>boxshadowContextContrast</string>
	<key>customizedSymbolBehavior</key>
	<string>methodVisitorDistance</string>
	<key>gateDecoratorColor</key>
	<string>currentScreenBehavior</string>
	<key>hardGridviewMargin</key>
	<string>integerStructureDelay</string>
	<key>integerJobRotation</key>
	<string>cupertinoCompositeColor</string>
	<key>kernelFunctionTail</key>
	<string>tickerTaskOffset</string>
	<key>prismaticAccessoryInterval</key>
	<string>timerExceptParam</string>
	<key>sequentialCompleterName</key>
	<string>animationMethodType</string>
	<key>signatureLayerTransparency</key>
	<string>documentStateDirection</string>
	<key>tableVersusAction</key>
	<string>metadataExceptSingleton</string>
</dict>
</plist>
