<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableGrainTail</key>
	<string>basicAspectSkewy</string>
	<key>compositionalIndicatorEdge</key>
	<string>cycleProxySkewx</string>
	<key>coordinatorStructureDuration</key>
	<string>prevZoneTail</string>
	<key>delicateSensorInteraction</key>
	<string>stateWithoutSystem</string>
	<key>gridviewThroughFlyweight</key>
	<string>gemParameterTail</string>
	<key>lostStepFeedback</key>
	<string>standaloneSizedboxBehavior</string>
	<key>petFrameworkBottom</key>
	<string>euclideanGroupFeedback</string>
	<key>priorModulusBrightness</key>
	<string>roleFromAction</string>
	<key>specifierWithProcess</key>
	<string>interactorSystemFrequency</string>
	<key>zonePhaseVisible</key>
	<string>animatedMultiplicationCoord</string>
</dict>
</plist>
