<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAsTemple</key>
	<string>statefulParamInterval</string>
	<key>boxshadowLikeSingleton</key>
	<string>tweenOfValue</string>
	<key>cellAsNumber</key>
	<string>mutableBatchRotation</string>
	<key>cycleInMethod</key>
	<string>imperativeDescriptionValidation</string>
	<key>expandedFromShape</key>
	<string>hierarchicalGridDuration</string>
	<key>gridAroundLevel</key>
	<string>stepStyleSpacing</string>
	<key>precisionFrameworkShade</key>
	<string>routeStructureVelocity</string>
	<key>semanticGestureRight</key>
	<string>concreteActionRotation</string>
	<key>storeAlongTemple</key>
	<string>featureFormShape</string>
	<key>usecaseNearParameter</key>
	<string>captionTempleDensity</string>
</dict>
</plist>
