<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetOperationSkewx</key>
	<string>histogramLevelRotation</string>
	<key>greatFeatureAcceleration</key>
	<string>operationNumberName</string>
	<key>memberOutsideJob</key>
	<string>switchDespiteDecorator</string>
	<key>navigationAgainstBridge</key>
	<string>statefulSessionColor</string>
	<key>normProxyFormat</key>
	<string>boxshadowParamIndex</string>
	<key>reactiveAllocatorMomentum</key>
	<string>transitionDecoratorLeft</string>
	<key>storageSinceActivity</key>
	<string>desktopGridviewFeedback</string>
	<key>threadUntilChain</key>
	<string>accessoryInBridge</string>
</dict>
</plist>
