<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlySliderLocation</key>
	<string>responsiveAlertForce</string>
	<key>geometricChartLeft</key>
	<string>metadataNearVar</string>
	<key>mediocreBorderState</key>
	<string>hyperbolicConstraintOffset</string>
	<key>presenterFromAdapter</key>
	<string>texturePrototypeType</string>
	<key>sinkParameterAlignment</key>
	<string>immediateStoryboardRight</string>
</dict>
</plist>
