<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeContainerDuration</key>
	<string>stateMethodSpeed</string>
	<key>dependencyNearAction</key>
	<string>baseSinceMemento</string>
	<key>dynamicFragmentLeft</key>
	<string>previewUntilTemple</string>
	<key>exceptionBeyondOperation</key>
	<string>presenterOfKind</string>
	<key>rapidFlexShade</key>
	<string>isolateWorkAppearance</string>
</dict>
</plist>
