<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedAsyncStatus</key>
	<string>transformerAmongLevel</string>
	<key>borderPlatformAppearance</key>
	<string>spineShapeContrast</string>
	<key>draggableCoordinatorBorder</key>
	<string>optionValueVisible</string>
	<key>eventContainPrototype</key>
	<string>iterativeScaleLeft</string>
	<key>marginStateTransparency</key>
	<string>storeOperationTension</string>
	<key>observerAndStrategy</key>
	<string>screenContextHead</string>
	<key>optionDecoratorTheme</key>
	<string>pinchableSpritePosition</string>
	<key>prevNavigationSpacing</key>
	<string>extensionPhaseTransparency</string>
	<key>streamAtVar</key>
	<string>protocolLikeStyle</string>
	<key>threadByActivity</key>
	<string>eventInJob</string>
</dict>
</plist>
