<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorThroughContext</key>
	<string>subscriptionInsideTemple</string>
	<key>cubitKindCount</key>
	<string>animationParameterBorder</string>
	<key>listviewPhaseTension</key>
	<string>reductionAroundInterpreter</string>
	<key>signatureOfVar</key>
	<string>sustainableSizedboxFeedback</string>
</dict>
</plist>
