<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheStrategyForce</key>
	<string>sessionWithoutKind</string>
	<key>delicateControllerRight</key>
	<string>tickerJobSaturation</string>
	<key>requestModeTint</key>
	<string>hierarchicalLoopTheme</string>
	<key>samplePlatformAlignment</key>
	<string>methodObserverType</string>
</dict>
</plist>
