<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicCompletionContrast</key>
	<string>mediumStateHue</string>
	<key>chapterCommandEdge</key>
	<string>appbarLikeForm</string>
	<key>metadataAtFacade</key>
	<string>specifyMetadataState</string>
	<key>spotViaVisitor</key>
	<string>tabbarBesideEnvironment</string>
	<key>subtleClipperTheme</key>
	<string>sessionIncludeObserver</string>
	<key>tangentVisitorSkewy</key>
	<string>geometricBuilderDirection</string>
	<key>topicCycleCoord</key>
	<string>relationalCollectionMomentum</string>
	<key>vectorProxyPosition</key>
	<string>inkwellByStrategy</string>
</dict>
</plist>
