<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledErrorBehavior</key>
	<string>lossJobVisible</string>
	<key>multiplicationByParameter</key>
	<string>sortedTweenRight</string>
	<key>normFacadeContrast</key>
	<string>futureProcessVisible</string>
	<key>observerWithFramework</key>
	<string>baseTempleKind</string>
	<key>scaleDuringMediator</key>
	<string>requestAsStage</string>
	<key>subtleServiceTag</key>
	<string>columnValueContrast</string>
	<key>tangentDespitePattern</key>
	<string>arithmeticRectAcceleration</string>
	<key>topicContainPattern</key>
	<string>popupShapeBottom</string>
	<key>widgetProcessContrast</key>
	<string>entityParamColor</string>
</dict>
</plist>
