<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeZoneAppearance</key>
	<string>similarParticleEdge</string>
	<key>flexModeInteraction</key>
	<string>resourceAboutFramework</string>
	<key>giftWithoutComposite</key>
	<string>tableFrameworkName</string>
	<key>listviewLayerCoord</key>
	<string>newestSegueSize</string>
	<key>managerSingletonInteraction</key>
	<string>serviceParameterOffset</string>
	<key>musicProxyStyle</key>
	<string>navigatorCompositeInterval</string>
	<key>notifierAsTier</key>
	<string>radioDecoratorLeft</string>
	<key>tensorEntropyBrightness</key>
	<string>routerTempleSaturation</string>
</dict>
</plist>
