<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionChainInterval</key>
	<string>interactorAboutType</string>
	<key>intensityThanScope</key>
	<string>missedAllocatorFormat</string>
	<key>layoutScopeBorder</key>
	<string>textPlatformMode</string>
	<key>lazyCoordinatorOrientation</key>
	<string>commandTypeOffset</string>
	<key>plateLevelTag</key>
	<string>directlyCapacitiesFormat</string>
	<key>routerLikeProcess</key>
	<string>multiplicationActionLeft</string>
	<key>sinkExceptVariable</key>
	<string>explicitHeapLeft</string>
</dict>
</plist>
