<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iconProxyFlags</key>
	<string>responsiveThreadIndex</string>
	<key>menuBesideVariable</key>
	<string>displayableSkirtSkewx</string>
	<key>navigatorActivityTint</key>
	<string>capsuleFromCycle</string>
	<key>sophisticatedKernelFrequency</key>
	<string>signKindPressure</string>
	<key>storagePhaseType</key>
	<string>slashThanVariable</string>
</dict>
</plist>
