<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncIncludeWork</key>
	<string>transformerKindMode</string>
	<key>challengePlatformIndex</key>
	<string>petModeStatus</string>
	<key>decorationAdapterSkewy</key>
	<string>sharedGiftOffset</string>
	<key>interpolationWorkPressure</key>
	<string>sliderThroughStrategy</string>
	<key>listenerNumberVisibility</key>
	<string>sensorAlongParameter</string>
	<key>resolverPerObserver</key>
	<string>vectorThroughParameter</string>
	<key>significantBitrateHead</key>
	<string>cartesianQueueDepth</string>
</dict>
</plist>
