<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocPrototypeContrast</key>
	<string>asyncStateDuration</string>
	<key>intensityProcessType</key>
	<string>textureIncludePlatform</string>
	<key>richtextModeInterval</key>
	<string>stepBeyondNumber</string>
	<key>routerForTask</key>
	<string>ignoredDelegateSkewx</string>
</dict>
</plist>
