<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>giftLikeMediator</key>
	<string>chartLevelTint</string>
	<key>greatVectorEdge</key>
	<string>inkwellUntilProcess</string>
	<key>oldSizeHead</key>
	<string>segmentLevelBehavior</string>
	<key>primaryButtonCenter</key>
	<string>remainderByDecorator</string>
	<key>radiusViaMediator</key>
	<string>uniformSizeFeedback</string>
	<key>referencePhaseOpacity</key>
	<string>previewAgainstTask</string>
	<key>resolverBesideTemple</key>
	<string>petBeyondSystem</string>
	<key>resourceWithChain</key>
	<string>apertureAroundStyle</string>
	<key>rowProxyHue</key>
	<string>decorationFromMode</string>
</dict>
</plist>
