<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeMapVelocity</key>
	<string>marginBesideMediator</string>
	<key>gramVisitorContrast</key>
	<string>playbackAmongDecorator</string>
	<key>groupAmongScope</key>
	<string>spotOperationTheme</string>
	<key>kernelWorkType</key>
	<string>featureDespiteWork</string>
	<key>painterScopeLocation</key>
	<string>canvasWithoutForm</string>
	<key>promiseContainAction</key>
	<string>completionActionRotation</string>
	<key>relationalAppbarOpacity</key>
	<string>multiMethodInset</string>
	<key>threadCyclePressure</key>
	<string>layerProcessValidation</string>
	<key>utilFromVisitor</key>
	<string>tappableCustompaintShade</string>
</dict>
</plist>
