<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferInterpreterMomentum</key>
	<string>documentEnvironmentSkewx</string>
	<key>catalystWithVisitor</key>
	<string>durationAgainstDecorator</string>
	<key>dimensionOperationCount</key>
	<string>controllerPatternShade</string>
	<key>discardedCertificateResponse</key>
	<string>priorMovementResponse</string>
	<key>priorityPhasePosition</key>
	<string>themeVisitorCenter</string>
</dict>
</plist>
