<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directListenerCoord</key>
	<string>transformerFlyweightStatus</string>
	<key>gridviewAwayDecorator</key>
	<string>descriptionKindStatus</string>
	<key>navigatorWithoutLevel</key>
	<string>buttonEnvironmentResponse</string>
	<key>nextInteractorStatus</key>
	<string>managerInPrototype</string>
	<key>presenterOutsideCycle</key>
	<string>grainFlyweightTransparency</string>
	<key>rectActivityRotation</key>
	<string>tappableSpotBound</string>
	<key>tickerMethodForce</key>
	<string>routeDespiteMode</string>
</dict>
</plist>
