<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackPhaseTint</key>
	<string>providerTempleFlags</string>
	<key>compositionalCharacterBottom</key>
	<string>hyperbolicAccessoryOrigin</string>
	<key>dependencyNearActivity</key>
	<string>borderShapeStyle</string>
	<key>dropdownbuttonVarSize</key>
	<string>navigatorBesideType</string>
	<key>groupOrParam</key>
	<string>progressbarSingletonAlignment</string>
	<key>sortedAssetRight</key>
	<string>blocFlyweightPressure</string>
	<key>spriteContainProxy</key>
	<string>effectEnvironmentPosition</string>
	<key>symbolWithFacade</key>
	<string>navigationByMethod</string>
</dict>
</plist>
