<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTechniqueIndex</key>
	<string>sizeActionDirection</string>
	<key>alignmentFlyweightColor</key>
	<string>subtleProviderType</string>
	<key>blocAsContext</key>
	<string>swiftInterpreterSkewy</string>
	<key>constraintAlongWork</key>
	<string>cubitAsVariable</string>
</dict>
</plist>
