<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineFromStrategy</key>
	<string>taskAboutVisitor</string>
	<key>custompaintAmongPhase</key>
	<string>spineAboutActivity</string>
	<key>diffableAnimationScale</key>
	<string>nibFacadeOrigin</string>
	<key>explicitStorageLeft</key>
	<string>techniqueThroughTier</string>
	<key>mobxPerLevel</key>
	<string>animatedFactoryForce</string>
	<key>notifierUntilNumber</key>
	<string>cupertinoStrategyFormat</string>
	<key>offsetAndEnvironment</key>
	<string>fusedOverlayCount</string>
	<key>sequentialBuilderCoord</key>
	<string>requiredChannelsPressure</string>
	<key>textureWithAction</key>
	<string>controllerStyleForce</string>
	<key>titleStrategyMomentum</key>
	<string>smartActionBound</string>
</dict>
</plist>
