<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelPerMediator</key>
	<string>typicalTaskVisible</string>
	<key>frameContainPrototype</key>
	<string>missionAroundNumber</string>
	<key>reusableInkwellBound</key>
	<string>sophisticatedCellPosition</string>
	<key>serviceAdapterSkewx</key>
	<string>consumerAsBuffer</string>
	<key>subpixelSystemForce</key>
	<string>metadataContextDirection</string>
</dict>
</plist>
