<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasStateOrientation</key>
	<string>globalBitrateStyle</string>
	<key>curveStageInteraction</key>
	<string>viewWithoutDecorator</string>
	<key>nextRepositoryInset</key>
	<string>materialCertificateDensity</string>
	<key>optionDespiteAdapter</key>
	<string>activityOutsideScope</string>
	<key>remainderContainAction</key>
	<string>diversifiedGroupShade</string>
</dict>
</plist>
