<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPatternCount</key>
	<string>activeQueueCoord</string>
	<key>diffableSlashTransparency</key>
	<string>exceptionPlatformCount</string>
	<key>euclideanCoordinatorDuration</key>
	<string>vectorAroundDecorator</string>
	<key>imperativeMenuShape</key>
	<string>resourceWorkLeft</string>
	<key>lazyRadiusTail</key>
	<string>errorTaskTag</string>
	<key>managerOrTask</key>
	<string>ignoredCubitAlignment</string>
	<key>multiMenuTail</key>
	<string>allocatorBridgeIndex</string>
	<key>sizedboxInsideTask</key>
	<string>entropyBeyondVar</string>
</dict>
</plist>
