<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerProxyTint</key>
	<string>methodOperationBehavior</string>
	<key>crudeTransitionShape</key>
	<string>smallDurationVisibility</string>
	<key>iterativeButtonTop</key>
	<string>difficultDimensionDepth</string>
	<key>liteListenerBound</key>
	<string>ephemeralCustompaintDepth</string>
	<key>optionActivityFeedback</key>
	<string>activePositionInteraction</string>
	<key>retainedSkirtType</key>
	<string>numericalMatrixOrientation</string>
	<key>scrollableSegmentBorder</key>
	<string>widgetAlongCommand</string>
</dict>
</plist>
