<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonProcessDirection</key>
	<string>cursorScopePadding</string>
	<key>diversifiedConstraintOrigin</key>
	<string>layerViaFlyweight</string>
	<key>localScaffoldAppearance</key>
	<string>sustainableSlashVelocity</string>
	<key>newestStackBottom</key>
	<string>fixedIsolateDelay</string>
	<key>topicAroundJob</key>
	<string>delegateIncludeValue</string>
</dict>
</plist>
