<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxAboutObserver</key>
	<string>uniqueAnchorDepth</string>
	<key>equipmentMediatorState</key>
	<string>fusedProfileShape</string>
	<key>interfaceTaskFlags</key>
	<string>rapidCubeIndex</string>
	<key>specifyFutureTheme</key>
	<string>immediateAccessoryFormat</string>
	<key>stateUntilStructure</key>
	<string>dependencyAtSystem</string>
	<key>variantAroundProxy</key>
	<string>subsequentUtilTension</string>
</dict>
</plist>
