<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notificationFrameworkEdge</key>
	<string>decorationContainLayer</string>
	<key>priorityTempleBrightness</key>
	<string>menuOfForm</string>
	<key>projectStateVelocity</key>
	<string>dialogsShapeSkewx</string>
	<key>providerDuringSingleton</key>
	<string>otherScaffoldPressure</string>
	<key>sinkPerPattern</key>
	<string>invisibleConvolutionVelocity</string>
	<key>toolVisitorBorder</key>
	<string>modelVariableSkewy</string>
</dict>
</plist>
