<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionConvolutionDistance</key>
	<string>painterContainSystem</string>
	<key>groupAmongMemento</key>
	<string>marginContextMode</string>
	<key>indicatorFromTask</key>
	<string>semanticConsumerDistance</string>
	<key>isolateVersusPattern</key>
	<string>dependencyAboutStyle</string>
	<key>primarySceneTail</key>
	<string>adaptiveDelegateShade</string>
	<key>sizeAsChain</key>
	<string>handlerAmongLayer</string>
	<key>webContainerSpeed</key>
	<string>routerFromFunction</string>
</dict>
</plist>
