<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableMaterialState</key>
	<string>transitionPatternState</string>
	<key>immediateScaleInterval</key>
	<string>adaptiveRouterBound</string>
	<key>immediateTickerInset</key>
	<string>graphOfBridge</string>
	<key>methodKindDuration</key>
	<string>vectorExceptVariable</string>
	<key>pageviewMediatorCoord</key>
	<string>tangentDecoratorAppearance</string>
	<key>respectiveOffsetDuration</key>
	<string>effectCommandHue</string>
	<key>retainedRepositoryTag</key>
	<string>lostMomentumDuration</string>
	<key>taskInterpreterScale</key>
	<string>effectAtStructure</string>
</dict>
</plist>
