<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedGraphOrientation</key>
	<string>retainedCaptionHue</string>
	<key>entityAdapterDelay</key>
	<string>stampUntilShape</string>
	<key>hardThemeDirection</key>
	<string>concreteThemeMomentum</string>
	<key>labelScopeBottom</key>
	<string>protectedTouchHue</string>
	<key>managerTypeValidation</key>
	<string>protocolAndAdapter</string>
	<key>materialEntropyPressure</key>
	<string>multiplicationAndJob</string>
	<key>uniqueScreenInterval</key>
	<string>playbackContainProxy</string>
	<key>variantNumberMomentum</key>
	<string>textureActivityHead</string>
</dict>
</plist>
