<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonExceptStage</key>
	<string>cubitFunctionType</string>
	<key>exceptionNearMemento</key>
	<string>pivotalChartFrequency</string>
	<key>geometricAssetFlags</key>
	<string>alignmentAtEnvironment</string>
	<key>lostContainerDuration</key>
	<string>localizationPrototypeKind</string>
	<key>metadataTierVelocity</key>
	<string>flexFlyweightRight</string>
	<key>pointAwayInterpreter</key>
	<string>positionFunctionAlignment</string>
	<key>resilientErrorOrigin</key>
	<string>desktopDimensionName</string>
	<key>sceneAwayComposite</key>
	<string>inkwellByWork</string>
	<key>tableUntilShape</key>
	<string>temporaryWorkflowContrast</string>
	<key>textfieldUntilPattern</key>
	<string>instructionWithPattern</string>
</dict>
</plist>
