<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameContainParameter</key>
	<string>sliderVersusBridge</string>
	<key>masterExceptMediator</key>
	<string>intuitiveGesturedetectorCoord</string>
	<key>paddingNearDecorator</key>
	<string>hyperbolicEntityTag</string>
	<key>scaffoldLikeKind</key>
	<string>functionalDecorationTail</string>
	<key>skinVarFormat</key>
	<string>completionAroundActivity</string>
</dict>
</plist>
