<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellFrameworkDelay</key>
	<string>tweenStateMomentum</string>
	<key>checklistAwayType</key>
	<string>adaptiveTechniqueSkewx</string>
	<key>compositionalSliderFormat</key>
	<string>smallBuilderOpacity</string>
	<key>controllerContextStyle</key>
	<string>taskAndNumber</string>
	<key>delegateInterpreterVisible</key>
	<string>graphObserverCoord</string>
	<key>gridviewAlongOperation</key>
	<string>asyncMemberResponse</string>
	<key>persistentSpriteTag</key>
	<string>standaloneGraphDuration</string>
	<key>positionWithVisitor</key>
	<string>gemContainSingleton</string>
	<key>stateStageSpacing</key>
	<string>builderThanVisitor</string>
	<key>sustainableTransformerAppearance</key>
	<string>imageNumberBehavior</string>
</dict>
</plist>
