<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCompleterPressure</key>
	<string>checkboxBesideSingleton</string>
	<key>cosinePatternSkewy</key>
	<string>symbolByMethod</string>
	<key>hardTransformerInset</key>
	<string>gestureTaskLeft</string>
	<key>interfaceFunctionFeedback</key>
	<string>relationalEqualizationBrightness</string>
	<key>mediaExceptParameter</key>
	<string>listviewInSystem</string>
	<key>sceneParameterOrigin</key>
	<string>usageStateType</string>
	<key>sizeBeyondPattern</key>
	<string>sliderAmongNumber</string>
	<key>sustainableUtilTag</key>
	<string>stateAtState</string>
</dict>
</plist>
