<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionBeyondProxy</key>
	<string>sophisticatedPopupTag</string>
	<key>cartesianNormShade</key>
	<string>statefulEntityShade</string>
	<key>decorationVersusTask</key>
	<string>offsetForNumber</string>
	<key>easyMaterialSpeed</key>
	<string>anchorTypeSkewy</string>
	<key>histogramAroundMode</key>
	<string>exceptionParameterInteraction</string>
	<key>newestSliderLeft</key>
	<string>interactorActionPadding</string>
	<key>usageJobDelay</key>
	<string>geometricToolStatus</string>
</dict>
</plist>
