<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAndForm</key>
	<string>disparateSizeKind</string>
	<key>modelOrPattern</key>
	<string>decorationBeyondShape</string>
	<key>movementAndObserver</key>
	<string>unsortedTitleBound</string>
	<key>remainderAboutContext</key>
	<string>elasticMaterialBottom</string>
</dict>
</plist>
