<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>responseVarAcceleration</key>
	<string>mapAlongMediator</string>
	<key>serviceChainSpeed</key>
	<string>gradientObserverDistance</string>
	<key>statelessAdapterFormat</key>
	<string>mediocreCanvasShape</string>
</dict>
</plist>
