<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalParticleShape</key>
	<string>graphStyleStatus</string>
	<key>particleOfPlatform</key>
	<string>otherCallbackFrequency</string>
	<key>projectPatternTransparency</key>
	<string>previewBeyondLayer</string>
	<key>segueForPhase</key>
	<string>convolutionBridgePressure</string>
	<key>skinPatternSkewy</key>
	<string>richtextWithoutObserver</string>
	<key>touchAroundFramework</key>
	<string>resolverCycleTint</string>
</dict>
</plist>
