<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchMementoStyle</key>
	<string>rapidInterfaceOrigin</string>
	<key>declarativeLayoutPosition</key>
	<string>queueEnvironmentRight</string>
	<key>dependencyTaskScale</key>
	<string>multiInterpolationDensity</string>
	<key>normalCatalystFlags</key>
	<string>finalCosineCoord</string>
	<key>queryLevelName</key>
	<string>mediaCompositeDistance</string>
	<key>singleScaffoldVisibility</key>
	<string>positionedNumberMargin</string>
	<key>toolParameterShape</key>
	<string>decorationNearValue</string>
	<key>unaryNearTask</key>
	<string>taskBesidePlatform</string>
</dict>
</plist>
