<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarObserverValidation</key>
	<string>offsetWithoutStrategy</string>
	<key>constMethodIndex</key>
	<string>agileModelHead</string>
	<key>delegateViaValue</key>
	<string>lastInjectionFlags</string>
	<key>draggableInterpolationHead</key>
	<string>behaviorAmongWork</string>
	<key>localizationStrategyForce</key>
	<string>compositionOutsidePhase</string>
	<key>menuLevelShape</key>
	<string>alignmentDespiteCommand</string>
	<key>segmentNearVariable</key>
	<string>dynamicTechniqueSpacing</string>
	<key>storeAwayStage</key>
	<string>positionWithoutActivity</string>
	<key>usecaseByTemple</key>
	<string>modalAdapterTop</string>
</dict>
</plist>
