<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineBeyondObserver</key>
	<string>inheritedEqualizationTail</string>
	<key>consumerPrototypeDelay</key>
	<string>observerOperationTheme</string>
	<key>entityNearStrategy</key>
	<string>otherThemeOpacity</string>
	<key>equalizationChainDepth</key>
	<string>cupertinoMissionStyle</string>
	<key>factoryWithParam</key>
	<string>lazyLocalizationBottom</string>
	<key>keyTopicInset</key>
	<string>checkboxStyleSpeed</string>
	<key>mediaVersusMediator</key>
	<string>declarativeStreamRotation</string>
	<key>sceneContainFlyweight</key>
	<string>largeStepMomentum</string>
	<key>tickerAtStructure</key>
	<string>ignoredMasterInset</string>
</dict>
</plist>
