<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedResourceShade</key>
	<string>configurationBesideWork</string>
	<key>boxCommandPressure</key>
	<string>configurationMementoMargin</string>
	<key>consultativeBitrateType</key>
	<string>listviewAboutBridge</string>
	<key>consultativeViewState</key>
	<string>textfieldTierFormat</string>
	<key>custompaintAdapterBound</key>
	<string>chartProcessFlags</string>
	<key>layoutViaLevel</key>
	<string>projectOutsideMediator</string>
	<key>normThroughScope</key>
	<string>tickerProxyStyle</string>
	<key>retainedQueueEdge</key>
	<string>flexibleOperationDensity</string>
	<key>tweenChainVisibility</key>
	<string>interfaceByForm</string>
</dict>
</plist>
