<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPrototypeType</key>
	<string>factoryInsideFacade</string>
	<key>collectionNearParameter</key>
	<string>cubitExceptStructure</string>
	<key>configurationVariableLeft</key>
	<string>dedicatedDurationBehavior</string>
	<key>listenerProxyResponse</key>
	<string>independentContainerShape</string>
	<key>modelActionDirection</key>
	<string>immediateSemanticsKind</string>
	<key>sequentialErrorBorder</key>
	<string>progressbarOutsideOperation</string>
	<key>skirtStageSkewy</key>
	<string>positionBeyondCommand</string>
	<key>tangentPhaseCenter</key>
	<string>unsortedResourceBrightness</string>
</dict>
</plist>
