<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledGiftCount</key>
	<string>textOutsidePattern</string>
	<key>positionedAboutPlatform</key>
	<string>constCommandVelocity</string>
	<key>relationalWidgetInset</key>
	<string>reductionFormColor</string>
	<key>requestAlongInterpreter</key>
	<string>routerFormValidation</string>
	<key>sinkUntilVisitor</key>
	<string>gemContainEnvironment</string>
</dict>
</plist>
