<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferFrameworkMomentum</key>
	<string>customizedTickerScale</string>
	<key>directEventOrigin</key>
	<string>modulusAroundStructure</string>
	<key>drawerForMemento</key>
	<string>loopThroughContext</string>
	<key>inactiveFragmentRate</key>
	<string>accordionChannelOrientation</string>
	<key>interpolationPhaseSaturation</key>
	<string>similarPresenterAppearance</string>
	<key>skirtThanProcess</key>
	<string>protectedHashSpeed</string>
	<key>tappableFrameInterval</key>
	<string>easyLogarithmAlignment</string>
	<key>titleUntilForm</key>
	<string>prevMaterialScale</string>
	<key>utilFromVariable</key>
	<string>widgetDespiteMode</string>
</dict>
</plist>
