<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hierarchicalMapDelay</key>
	<string>axisTaskTension</string>
	<key>lossFromProxy</key>
	<string>streamFrameworkSaturation</string>
	<key>mainInterpolationHead</key>
	<string>certificateByObserver</string>
	<key>similarTickerDepth</key>
	<string>sliderForVariable</string>
	<key>webBitrateDistance</key>
	<string>greatWorkflowTop</string>
</dict>
</plist>
