<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionContextSpeed</key>
	<string>backwardLossSpeed</string>
	<key>asyncMediatorBound</key>
	<string>buttonCompositeDensity</string>
	<key>checklistDuringPhase</key>
	<string>zoneShapeName</string>
	<key>checklistInsideMode</key>
	<string>densePaddingShade</string>
	<key>crudeCommandTag</key>
	<string>slashLevelVisibility</string>
	<key>ephemeralHeapBorder</key>
	<string>frameInterpreterKind</string>
	<key>intuitiveMovementAlignment</key>
	<string>paddingOfStructure</string>
	<key>isolateWorkCenter</key>
	<string>presenterThanStructure</string>
	<key>paddingFrameworkTheme</key>
	<string>alphaFromTemple</string>
	<key>spriteParameterAcceleration</key>
	<string>concreteGridTheme</string>
</dict>
</plist>
