<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionFacadeBottom</key>
	<string>queueDespiteParameter</string>
	<key>effectOperationDensity</key>
	<string>criticalShaderDelay</string>
	<key>optionStageOpacity</key>
	<string>asyncCommandValidation</string>
	<key>subsequentContainerRight</key>
	<string>firstRiverpodFormat</string>
</dict>
</plist>
