<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectAndInterpreter</key>
	<string>symbolStyleVisible</string>
	<key>completionOperationColor</key>
	<string>sophisticatedAwaitBrightness</string>
	<key>menuWithNumber</key>
	<string>presenterKindPressure</string>
	<key>missionContainSingleton</key>
	<string>respectiveQueryShape</string>
	<key>prismaticTransitionCount</key>
	<string>smartTabviewDensity</string>
	<key>repositoryParamFormat</key>
	<string>flexParamEdge</string>
	<key>storeDecoratorSpacing</key>
	<string>instructionOutsideContext</string>
</dict>
</plist>
