<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionFromStrategy</key>
	<string>specifySkirtResponse</string>
	<key>effectAwayActivity</key>
	<string>crudeBuilderColor</string>
	<key>iconContainLayer</key>
	<string>handlerAmongOperation</string>
	<key>mobileMenuTint</key>
	<string>masterLikeBuffer</string>
	<key>synchronousHashTop</key>
	<string>loopPatternName</string>
	<key>tensorListenerState</key>
	<string>textfieldOrDecorator</string>
	<key>textAwayStage</key>
	<string>displayableTextBound</string>
	<key>usageAwayState</key>
	<string>particleInEnvironment</string>
</dict>
</plist>
