<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyCoordinatorTheme</key>
	<string>overlayWorkDirection</string>
	<key>exceptionAboutMemento</key>
	<string>timerNearShape</string>
	<key>integerOutsideProxy</key>
	<string>consultativeIntensitySaturation</string>
	<key>interfacePhaseDistance</key>
	<string>immutableStatefulMomentum</string>
	<key>lossAwayState</key>
	<string>adaptiveCatalystContrast</string>
	<key>oldCertificateDistance</key>
	<string>decorationAroundVar</string>
	<key>positionAlongBuffer</key>
	<string>prismaticCanvasLocation</string>
	<key>scrollableConfigurationDepth</key>
	<string>matrixStrategyRight</string>
	<key>sinkAdapterOrigin</key>
	<string>eventAlongTier</string>
</dict>
</plist>
