<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultRichtextVisible</key>
	<string>contractionKindColor</string>
	<key>factoryFacadeBound</key>
	<string>lazyDurationValidation</string>
	<key>injectionKindFormat</key>
	<string>visibleExpandedInterval</string>
	<key>rectActivityCoord</key>
	<string>hashCompositeCount</string>
	<key>segueBesideFacade</key>
	<string>textOfBridge</string>
	<key>shaderFormTag</key>
	<string>adaptiveMobxKind</string>
</dict>
</plist>
