<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerScaleKind</key>
	<string>localAlignmentAcceleration</string>
	<key>chapterInterpreterAlignment</key>
	<string>typicalStoryboardShade</string>
	<key>documentContainFunction</key>
	<string>cupertinoCompleterState</string>
	<key>frameDespiteMethod</key>
	<string>layoutActionInteraction</string>
	<key>hardConstraintMomentum</key>
	<string>discardedCollectionOpacity</string>
	<key>oldBuilderCount</key>
	<string>taskAwayProcess</string>
	<key>pointExceptVariable</key>
	<string>localNodeSpeed</string>
	<key>texturePhaseOrigin</key>
	<string>permanentPopupMomentum</string>
</dict>
</plist>
