<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionWithStyle</key>
	<string>globalFactoryRight</string>
	<key>drawerInsideCommand</key>
	<string>providerAndInterpreter</string>
	<key>mainFutureRotation</key>
	<string>specifierAroundNumber</string>
	<key>scrollableMenuDuration</key>
	<string>musicProxyOrigin</string>
</dict>
</plist>
