<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationAboutInterpreter</key>
	<string>routerDuringMediator</string>
	<key>observerFacadeInterval</key>
	<string>positionInsideSystem</string>
	<key>progressbarKindLeft</key>
	<string>serviceStrategyRight</string>
	<key>sortedTickerPosition</key>
	<string>methodTierLocation</string>
	<key>statelessPrototypeAcceleration</key>
	<string>consultativeFutureType</string>
</dict>
</plist>
