<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorShapeTag</key>
	<string>scrollableProviderVisibility</string>
	<key>commonObserverFlags</key>
	<string>intuitiveInterfaceColor</string>
	<key>geometricCacheName</key>
	<string>accordionChannelsTop</string>
	<key>globalAlignmentSkewx</key>
	<string>spineMediatorDirection</string>
	<key>imperativePresenterMomentum</key>
	<string>descriptionExceptOperation</string>
	<key>lastSpotForce</key>
	<string>controllerAlongShape</string>
	<key>loopSinceForm</key>
	<string>hashObserverAlignment</string>
	<key>modelVarResponse</key>
	<string>batchBesideFlyweight</string>
	<key>previewWithParameter</key>
	<string>controllerAndParameter</string>
	<key>rowAroundTemple</key>
	<string>reducerOutsideParameter</string>
</dict>
</plist>
