<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorForParam</key>
	<string>contractionAndJob</string>
	<key>interfaceUntilStage</key>
	<string>integerPhaseOffset</string>
	<key>intermediateStateRotation</key>
	<string>dependencyStructureDistance</string>
	<key>managerDuringProcess</key>
	<string>consumerOrScope</string>
	<key>prevStateDensity</key>
	<string>arithmeticWithoutDecorator</string>
	<key>rowPlatformOrientation</key>
	<string>operationThroughStage</string>
</dict>
</plist>
