<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledPopupCoord</key>
	<string>persistentErrorBound</string>
	<key>entropyProcessValidation</key>
	<string>otherEffectHead</string>
	<key>gradientPerTemple</key>
	<string>animationAwayChain</string>
	<key>injectionJobHead</key>
	<string>independentSpecifierShade</string>
	<key>metadataAndEnvironment</key>
	<string>primaryBlocInteraction</string>
	<key>modelBufferCoord</key>
	<string>transformerOrParam</string>
	<key>nodePrototypeInset</key>
	<string>themePatternResponse</string>
	<key>screenPerState</key>
	<string>dedicatedFrameOrigin</string>
	<key>touchAndMode</key>
	<string>unactivatedBrushDelay</string>
	<key>transformerAsNumber</key>
	<string>euclideanEntityAcceleration</string>
</dict>
</plist>
