<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveCertificatePadding</key>
	<string>smallPositionedBorder</string>
	<key>mediaqueryStageScale</key>
	<string>bitrateInterpreterForce</string>
	<key>semanticReductionColor</key>
	<string>commandAroundComposite</string>
	<key>transitionTaskKind</key>
	<string>segmentThroughPhase</string>
</dict>
</plist>
