<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncRouteScale</key>
	<string>accessoryByStructure</string>
	<key>exponentUntilObserver</key>
	<string>independentAnimationDirection</string>
	<key>functionalPositionedTension</key>
	<string>crudeBuilderHead</string>
	<key>labelAmongFunction</key>
	<string>semanticsViaSystem</string>
	<key>multiplicationObserverSkewx</key>
	<string>activityAgainstTask</string>
	<key>promiseActivityStyle</key>
	<string>particleStyleHead</string>
	<key>sliderTypeDistance</key>
	<string>interactiveGrayscalePadding</string>
	<key>typicalTabbarVisible</key>
	<string>usedActionDensity</string>
</dict>
</plist>
