<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardBuilderStatus</key>
	<string>marginWorkShape</string>
	<key>cycleStateFlags</key>
	<string>exceptionInKind</string>
	<key>hashObserverDepth</key>
	<string>sceneAsVar</string>
	<key>marginSinceMethod</key>
	<string>labelDespiteEnvironment</string>
	<key>pointLayerState</key>
	<string>smartMatrixRight</string>
	<key>resultObserverInteraction</key>
	<string>priorChartTint</string>
	<key>sessionProcessRight</key>
	<string>flexContextMode</string>
	<key>tabbarContextFrequency</key>
	<string>streamParamState</string>
	<key>tickerWithoutBridge</key>
	<string>checkboxFormCount</string>
</dict>
</plist>
