<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeServiceEdge</key>
	<string>ignoredZoneSkewx</string>
	<key>asyncLikeOperation</key>
	<string>composableBrushFormat</string>
	<key>factoryParameterRight</key>
	<string>uniqueCommandStatus</string>
	<key>flexOperationLeft</key>
	<string>streamBufferMomentum</string>
	<key>handlerAlongValue</key>
	<string>optionOfFacade</string>
	<key>menuAroundMode</key>
	<string>inactiveFragmentType</string>
</dict>
</plist>
