<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchBridgeKind</key>
	<string>intermediateTableVelocity</string>
	<key>gestureAroundMode</key>
	<string>boxTaskStatus</string>
	<key>mediocreActivityColor</key>
	<string>desktopSpriteCenter</string>
	<key>menuUntilInterpreter</key>
	<string>invisibleIntensityRotation</string>
	<key>sceneTierBound</key>
	<string>interfaceChainMomentum</string>
	<key>subsequentAnchorSpacing</key>
	<string>utilOperationMode</string>
</dict>
</plist>
