<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorDespiteStrategy</key>
	<string>basicIsolateVisible</string>
	<key>getxInterpreterInset</key>
	<string>handlerParamInterval</string>
	<key>plateSystemSkewy</key>
	<string>typicalFactoryTension</string>
	<key>priorContractionSkewx</key>
	<string>tweenStrategyVelocity</string>
	<key>radioUntilState</key>
	<string>accordionSemanticsSize</string>
</dict>
</plist>
