<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableInkwellFrequency</key>
	<string>activeExceptionDepth</string>
	<key>metadataParamHead</key>
	<string>hardCacheTail</string>
	<key>rapidThemeShade</key>
	<string>viewShapeRight</string>
	<key>routePlatformVelocity</key>
	<string>reactiveAlignmentOrientation</string>
	<key>substantialFlexRotation</key>
	<string>missedDependencyInset</string>
	<key>tableFrameworkMomentum</key>
	<string>commandPrototypeResponse</string>
	<key>temporaryAlignmentForce</key>
	<string>uniformSampleScale</string>
	<key>temporaryScaleDelay</key>
	<string>configurationNearInterpreter</string>
</dict>
</plist>
