<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerMementoTension</key>
	<string>notifierObserverOpacity</string>
	<key>futureAsPlatform</key>
	<string>capacitiesDecoratorTransparency</string>
	<key>progressbarNearTask</key>
	<string>brushThroughShape</string>
	<key>resultStructureShade</key>
	<string>threadFlyweightLeft</string>
	<key>widgetOrMemento</key>
	<string>serviceMethodVisibility</string>
</dict>
</plist>
