<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushSinceAdapter</key>
	<string>exponentAboutEnvironment</string>
	<key>callbackOperationTag</key>
	<string>priorErrorForce</string>
	<key>consultativeRectPadding</key>
	<string>bufferAgainstFunction</string>
	<key>directUnaryLeft</key>
	<string>specifyOffsetBottom</string>
	<key>firstConstraintSpacing</key>
	<string>widgetVarName</string>
	<key>heapTaskRate</key>
	<string>rowProcessAppearance</string>
	<key>largeManagerDirection</key>
	<string>protectedInteractorVisible</string>
	<key>playbackInterpreterValidation</key>
	<string>layerInsideCommand</string>
	<key>subtleBatchInset</key>
	<string>presenterCompositeTransparency</string>
	<key>viewParamVisible</key>
	<string>decorationAwayVar</string>
</dict>
</plist>
