<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionForAdapter</key>
	<string>offsetLayerLocation</string>
	<key>awaitViaTemple</key>
	<string>tabviewOutsideJob</string>
	<key>clipperOfKind</key>
	<string>sliderActivityMode</string>
	<key>directPointVisible</key>
	<string>brushStageBound</string>
	<key>lazyReducerSaturation</key>
	<string>largeViewFlags</string>
	<key>prevPageviewFormat</key>
	<string>keyRectSaturation</string>
	<key>projectionAmongActivity</key>
	<string>tabbarVarAcceleration</string>
	<key>sliderInterpreterDirection</key>
	<string>temporaryPriorityFrequency</string>
	<key>storeShapeState</key>
	<string>gridAgainstAction</string>
	<key>temporarySliderBorder</key>
	<string>optimizerLayerSpacing</string>
</dict>
</plist>
