<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncContainStage</key>
	<string>queueBufferBottom</string>
	<key>beginnerApertureRotation</key>
	<string>imperativeAlertEdge</string>
	<key>localExceptionTint</key>
	<string>singletonVersusPattern</string>
	<key>musicAmongOperation</key>
	<string>sliderForTier</string>
	<key>routeInterpreterVisibility</key>
	<string>interpolationIncludeScope</string>
</dict>
</plist>
