<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeCanvasCount</key>
	<string>cartesianMobileSize</string>
	<key>cursorOrDecorator</key>
	<string>missionTypeTransparency</string>
	<key>dynamicFutureTop</key>
	<string>iconLikeBuffer</string>
	<key>immediateAsyncAlignment</key>
	<string>bitrateOfPhase</string>
	<key>interactorAroundNumber</key>
	<string>viewMethodDistance</string>
	<key>segmentByMode</key>
	<string>animatedZoneRotation</string>
	<key>specifierStagePadding</key>
	<string>constListenerLeft</string>
	<key>subscriptionExceptForm</key>
	<string>smallSignOrientation</string>
	<key>titleValueSaturation</key>
	<string>tweenFromLevel</string>
</dict>
</plist>
