<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeExceptParameter</key>
	<string>accordionChapterStyle</string>
	<key>effectLayerSaturation</key>
	<string>switchBufferPosition</string>
	<key>errorTypeResponse</key>
	<string>customizedCompletionType</string>
	<key>responsiveStackBorder</key>
	<string>referenceBesideMemento</string>
	<key>scrollAwayFunction</key>
	<string>adaptiveRadiusCount</string>
</dict>
</plist>
