<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorTaskState</key>
	<string>mobileServiceShade</string>
	<key>buttonParameterOffset</key>
	<string>modelAsMediator</string>
	<key>finalIntegerTint</key>
	<string>dialogsThroughMethod</string>
	<key>visibleTransitionForce</key>
	<string>builderSinceMethod</string>
</dict>
</plist>
