<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>requiredNavigatorVisibility</key>
	<string>functionalNodeTint</string>
	<key>spriteOutsideTask</key>
	<string>behaviorLikeParameter</string>
	<key>statelessVersusInterpreter</key>
	<string>isolateVariableHead</string>
	<key>taskVersusMediator</key>
	<string>screenDuringPhase</string>
</dict>
</plist>
