<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectTempleState</key>
	<string>reactiveNotifierTop</string>
	<key>durationByCycle</key>
	<string>skirtJobVisibility</string>
	<key>queueOutsideKind</key>
	<string>autoInteractorRight</string>
	<key>repositoryAmongObserver</key>
	<string>buttonInsideActivity</string>
	<key>statelessContextShape</key>
	<string>sliderModeScale</string>
</dict>
</plist>
