<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitDuringValue</key>
	<string>lostBaselinePadding</string>
	<key>logarithmThroughTemple</key>
	<string>specifierJobRate</string>
	<key>persistentGiftMargin</key>
	<string>subscriptionVisitorState</string>
	<key>rapidGraphSize</key>
	<string>asyncAtCommand</string>
	<key>sizeAtActivity</key>
	<string>tweenFromVariable</string>
	<key>uniformAlignmentRight</key>
	<string>metadataAwayComposite</string>
</dict>
</plist>
