<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteCapacitiesOrientation</key>
	<string>touchViaInterpreter</string>
	<key>controllerAdapterSpeed</key>
	<string>presenterShapeSpeed</string>
	<key>interactorUntilObserver</key>
	<string>viewAmongActivity</string>
	<key>rectAboutScope</key>
	<string>routerAtForm</string>
	<key>shaderThanStructure</key>
	<string>repositoryAndProcess</string>
</dict>
</plist>
