<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandPlatformOrientation</key>
	<string>textDecoratorInteraction</string>
	<key>ignoredBrushFrequency</key>
	<string>reactiveEquipmentBehavior</string>
	<key>layoutWithoutLevel</key>
	<string>sliderProcessFormat</string>
	<key>paddingThroughJob</key>
	<string>sizedboxAmongFramework</string>
	<key>positionAsParameter</key>
	<string>lostRouteHead</string>
	<key>segueValueDuration</key>
	<string>storageThroughVariable</string>
	<key>singletonFromMemento</key>
	<string>batchAlongNumber</string>
</dict>
</plist>
