<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionAndVar</key>
	<string>labelOutsideTier</string>
	<key>comprehensiveLogSkewx</key>
	<string>finalMetadataCount</string>
	<key>playbackByStructure</key>
	<string>concreteMissionFlags</string>
	<key>publicRequestRight</key>
	<string>playbackProcessDensity</string>
	<key>richtextVariableOpacity</key>
	<string>specifyCapsuleTheme</string>
	<key>subscriptionStageSpacing</key>
	<string>reactiveLoopPressure</string>
</dict>
</plist>
