<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoProfileBound</key>
	<string>advancedScaleFlags</string>
	<key>crucialFrameAppearance</key>
	<string>mobileAgainstMediator</string>
	<key>imperativeConfigurationRight</key>
	<string>optimizerAgainstInterpreter</string>
	<key>interactiveArithmeticOrientation</key>
	<string>vectorLikeWork</string>
	<key>logarithmUntilTask</key>
	<string>observerKindDuration</string>
	<key>normalSwitchTransparency</key>
	<string>newestDelegateVisible</string>
	<key>shaderAlongVar</key>
	<string>particleIncludeComposite</string>
	<key>stateTaskTension</key>
	<string>slashMediatorTheme</string>
	<key>subpixelAgainstType</key>
	<string>sineKindSkewx</string>
</dict>
</plist>
