<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeFlyweightInset</key>
	<string>originalObserverInteraction</string>
	<key>disparateSinkInterval</key>
	<string>unactivatedDurationTheme</string>
	<key>easyCertificateShade</key>
	<string>callbackStatePadding</string>
	<key>futureSystemDirection</key>
	<string>geometricBoxBehavior</string>
	<key>radiusBesideStructure</key>
	<string>richtextProxyDirection</string>
	<key>tappableActionStatus</key>
	<string>secondVariantTail</string>
	<key>widgetSingletonForce</key>
	<string>currentCanvasPosition</string>
</dict>
</plist>
