<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousSpriteScale</key>
	<string>responsiveUtilShape</string>
	<key>channelFrameworkVisible</key>
	<string>seamlessResponseStatus</string>
	<key>diffableSceneFormat</key>
	<string>opaqueCompletionFrequency</string>
	<key>graphCompositeValidation</key>
	<string>storeSystemHead</string>
	<key>listenerVariableShade</key>
	<string>diffableBufferSkewx</string>
	<key>screenIncludeStrategy</key>
	<string>permissiveContainerBehavior</string>
	<key>singletonOrStyle</key>
	<string>optionThroughContext</string>
	<key>storeSingletonShape</key>
	<string>rapidStampPadding</string>
</dict>
</plist>
