<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSceneFeedback</key>
	<string>effectWorkColor</string>
	<key>boxTierFeedback</key>
	<string>descriptionModeDelay</string>
	<key>firstBlocSpacing</key>
	<string>mutableCompletionTheme</string>
	<key>particleVariableOrigin</key>
	<string>dedicatedGraphMode</string>
	<key>plateVersusLayer</key>
	<string>entityJobContrast</string>
	<key>radioOperationRight</key>
	<string>animationExceptLevel</string>
	<key>respectiveContainerState</key>
	<string>batchBridgeHue</string>
	<key>sizeFlyweightBottom</key>
	<string>widgetMementoPadding</string>
	<key>textInsideKind</key>
	<string>directIntensityBorder</string>
	<key>workflowAndFunction</key>
	<string>symbolBesideInterpreter</string>
</dict>
</plist>
