<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerPatternShade</key>
	<string>clipperAmongFlyweight</string>
	<key>mainDurationColor</key>
	<string>errorChainColor</string>
	<key>modelThanBuffer</key>
	<string>aspectratioOrCommand</string>
	<key>multiRectMode</key>
	<string>spriteContainFramework</string>
	<key>resizablePositionMomentum</key>
	<string>listenerInsideAction</string>
	<key>standaloneCertificateOrigin</key>
	<string>mutableEntropyOffset</string>
</dict>
</plist>
