<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianTextfieldAppearance</key>
	<string>subscriptionDuringProxy</string>
	<key>disabledLabelState</key>
	<string>cartesianStorageOffset</string>
	<key>firstIsolateTag</key>
	<string>compositionalBoxshadowBorder</string>
	<key>radioParamShape</key>
	<string>offsetCommandDepth</string>
	<key>rectWithType</key>
	<string>reductionMediatorScale</string>
	<key>sceneBeyondMemento</key>
	<string>routerVisitorScale</string>
	<key>scrollableChartFlags</key>
	<string>queueStyleOrigin</string>
	<key>semanticsLevelCount</key>
	<string>flexAroundShape</string>
</dict>
</plist>
