<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryBridgeCoord</key>
	<string>basicStoryboardPadding</string>
	<key>declarativeProviderSpeed</key>
	<string>borderTypeType</string>
	<key>documentSingletonCoord</key>
	<string>popupExceptVisitor</string>
	<key>dropdownbuttonPlatformOrientation</key>
	<string>localizationTaskSaturation</string>
	<key>getxObserverFeedback</key>
	<string>listenerMediatorVisible</string>
	<key>interactiveReducerMomentum</key>
	<string>diffableFragmentDuration</string>
	<key>observerDuringFramework</key>
	<string>segueEnvironmentBrightness</string>
	<key>richtextCommandBorder</key>
	<string>uniformQueryTint</string>
	<key>statefulFunctionForce</key>
	<string>checkboxForSingleton</string>
</dict>
</plist>
