<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardContainerContrast</key>
	<string>autoHashInterval</string>
	<key>currentStreamColor</key>
	<string>adaptiveMenuMomentum</string>
	<key>decorationPrototypeFormat</key>
	<string>localizationFromObserver</string>
	<key>delegateSingletonTail</key>
	<string>standaloneAccessoryLocation</string>
	<key>dropdownbuttonAdapterVisibility</key>
	<string>denseMethodContrast</string>
	<key>factoryObserverLocation</key>
	<string>modelVersusSingleton</string>
	<key>observerExceptState</key>
	<string>asyncConstraintIndex</string>
	<key>permissiveAsyncTension</key>
	<string>binaryLayerLeft</string>
	<key>utilNearAdapter</key>
	<string>collectionActivityRotation</string>
</dict>
</plist>
