<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAgainstChain</key>
	<string>tweenCycleFeedback</string>
	<key>discardedPlaybackSaturation</key>
	<string>lastSliderOrigin</string>
	<key>durationBufferMargin</key>
	<string>stampAlongProxy</string>
	<key>invisibleAssetDuration</key>
	<string>descriptionTierTension</string>
	<key>petBridgeStatus</key>
	<string>tickerOrValue</string>
	<key>semanticsAsBuffer</key>
	<string>rapidGraphicInterval</string>
	<key>statelessParticleDuration</key>
	<string>widgetProxyVisibility</string>
	<key>vectorNearFramework</key>
	<string>sinkThanCommand</string>
</dict>
</plist>
