<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationMediatorBottom</key>
	<string>extensionUntilMemento</string>
	<key>dependencyAboutActivity</key>
	<string>seamlessInstructionShade</string>
	<key>graphAroundInterpreter</key>
	<string>timerScopeDirection</string>
	<key>resizableRequestShade</key>
	<string>tabviewPhaseBrightness</string>
	<key>subscriptionUntilAction</key>
	<string>responsiveSampleDelay</string>
</dict>
</plist>
