<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedButtonSpacing</key>
	<string>responseThanLevel</string>
	<key>crudeImageAcceleration</key>
	<string>protocolLayerSkewx</string>
	<key>futureOperationStatus</key>
	<string>resolverWorkSaturation</string>
	<key>indicatorExceptFlyweight</key>
	<string>logByTemple</string>
	<key>scaleContainFunction</key>
	<string>rowLikeType</string>
	<key>shaderLayerSkewx</key>
	<string>specifierContextSkewx</string>
	<key>taskPatternDuration</key>
	<string>resilientConsumerOffset</string>
	<key>usecaseFacadeOpacity</key>
	<string>roleThanSingleton</string>
</dict>
</plist>
