<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackBridgeDensity</key>
	<string>referenceNearTask</string>
	<key>compositionStageMomentum</key>
	<string>materialSizeEdge</string>
	<key>customBufferAppearance</key>
	<string>symbolProxySpeed</string>
	<key>descriptionParamLeft</key>
	<string>controllerOutsideOperation</string>
	<key>layerOperationShape</key>
	<string>optionProxyBehavior</string>
	<key>resourceSinceWork</key>
	<string>rowOfProcess</string>
</dict>
</plist>
