<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarVersusCommand</key>
	<string>capacitiesTempleOffset</string>
	<key>canvasAwayVar</key>
	<string>injectionInterpreterVisibility</string>
	<key>challengeCycleDuration</key>
	<string>sortedControllerPressure</string>
	<key>commandMementoKind</key>
	<string>mapAgainstMemento</string>
	<key>controllerValueMargin</key>
	<string>presenterJobSpeed</string>
	<key>dependencyParameterTag</key>
	<string>mediaCommandMomentum</string>
	<key>ignoredPositionShape</key>
	<string>textureStateSkewx</string>
</dict>
</plist>
