<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoBuilderInteraction</key>
	<string>specifyHeapTint</string>
	<key>commonAnimationMomentum</key>
	<string>imperativeTweenOrientation</string>
	<key>configurationAgainstPattern</key>
	<string>symmetricRectVelocity</string>
	<key>constSpineCoord</key>
	<string>animationStructureHead</string>
	<key>entityBufferHue</key>
	<string>permissiveCardStatus</string>
	<key>resilientMasterBorder</key>
	<string>alignmentCycleVisible</string>
	<key>semanticFrameScale</key>
	<string>sortedStampInterval</string>
	<key>sensorForSingleton</key>
	<string>bulletVarBorder</string>
	<key>symmetricSegmentDuration</key>
	<string>workflowPatternKind</string>
	<key>transitionFunctionColor</key>
	<string>layoutInMode</string>
</dict>
</plist>
