<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentBuilderInteraction</key>
	<string>cubitAroundAction</string>
	<key>opaqueLogRotation</key>
	<string>utilAmongActivity</string>
	<key>progressbarTierAppearance</key>
	<string>exceptionCycleForce</string>
	<key>sliderShapeDelay</key>
	<string>numericalLogRight</string>
	<key>spriteTempleDistance</key>
	<string>sustainableConvolutionPosition</string>
</dict>
</plist>
