<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageLikeCycle</key>
	<string>descriptorSingletonSpeed</string>
	<key>interactorInPrototype</key>
	<string>visibleStoreForce</string>
	<key>intermediateBlocContrast</key>
	<string>widgetParamSpeed</string>
	<key>pivotalViewBound</key>
	<string>unsortedQueryBrightness</string>
	<key>popupAroundAdapter</key>
	<string>variantSinceType</string>
	<key>routeWorkSpeed</key>
	<string>animationVarState</string>
	<key>spotAlongProxy</key>
	<string>oldQueueOffset</string>
	<key>tickerBeyondDecorator</key>
	<string>mainCubitCount</string>
	<key>viewStageOrientation</key>
	<string>subtleRadiusSkewx</string>
</dict>
</plist>
