<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSingletonShape</key>
	<string>tickerOfAction</string>
	<key>autoBoxType</key>
	<string>unsortedObserverRotation</string>
	<key>exponentValueSpacing</key>
	<string>observerMethodTail</string>
	<key>singletonFacadeMargin</key>
	<string>cubitPerChain</string>
</dict>
</plist>
