<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellIncludeTier</key>
	<string>arithmeticTempleFeedback</string>
	<key>characterActionLeft</key>
	<string>flexibleBufferTheme</string>
	<key>featureActionBound</key>
	<string>stackKindTail</string>
	<key>getxBesideComposite</key>
	<string>commonResponseColor</string>
	<key>immediateChannelsBehavior</key>
	<string>resolverDespiteTask</string>
	<key>immutableChallengeSpeed</key>
	<string>mobileMultiplicationShape</string>
	<key>listenerInterpreterMode</key>
	<string>activeDescriptionTransparency</string>
	<key>radioAmongTask</key>
	<string>menuParamSpeed</string>
	<key>tabbarContainJob</key>
	<string>streamModeDistance</string>
</dict>
</plist>
