<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>liteAspectName</key>
	<string>crudeMethodType</string>
	<key>masterStateColor</key>
	<string>eventVersusSystem</string>
	<key>optionAwayShape</key>
	<string>accessoryPatternBound</string>
	<key>requestPlatformTail</key>
	<string>managerKindTheme</string>
	<key>signatureFunctionDepth</key>
	<string>intensityFlyweightName</string>
	<key>sliderActionForce</key>
	<string>comprehensiveBulletOrientation</string>
</dict>
</plist>
