<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryFrameworkInset</key>
	<string>consultativeHashOrientation</string>
	<key>channelsAtBuffer</key>
	<string>reductionStructureSize</string>
	<key>overlayPlatformSpeed</key>
	<string>repositoryUntilShape</string>
	<key>similarConsumerInset</key>
	<string>interfaceOutsideMode</string>
	<key>staticConstraintType</key>
	<string>respectiveCompletionOrientation</string>
	<key>tickerChainSize</key>
	<string>singleExponentMode</string>
</dict>
</plist>
