<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureInsideStyle</key>
	<string>bulletAsAction</string>
	<key>entityLikeBridge</key>
	<string>topicPatternMode</string>
	<key>featureInForm</key>
	<string>rectContextRight</string>
	<key>grayscaleAtFunction</key>
	<string>oldGiftCoord</string>
	<key>interactorDespiteSingleton</key>
	<string>operationThroughLevel</string>
	<key>missionActionBound</key>
	<string>batchTempleScale</string>
	<key>permissiveTextSpeed</key>
	<string>difficultTransitionDepth</string>
	<key>resourceInterpreterPressure</key>
	<string>subpixelBufferBottom</string>
	<key>segmentDuringKind</key>
	<string>channelsLevelSkewx</string>
	<key>transitionVisitorVisibility</key>
	<string>certificateLayerLocation</string>
</dict>
</plist>
