<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>independentActionInteraction</key>
	<string>gridKindCenter</string>
	<key>menuScopeColor</key>
	<string>equalizationDespiteContext</string>
	<key>operationParamContrast</key>
	<string>inactivePetAlignment</string>
	<key>reductionOrChain</key>
	<string>animationAmongFramework</string>
	<key>tappableNotificationFeedback</key>
	<string>tweenViaOperation</string>
</dict>
</plist>
