<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleShapeSize</key>
	<string>smartInteractorSkewy</string>
	<key>effectVersusProcess</key>
	<string>intuitiveMapSaturation</string>
	<key>mapActionInteraction</key>
	<string>flexibleFutureAlignment</string>
	<key>secondSpineStatus</key>
	<string>protocolOrLayer</string>
	<key>textfieldBeyondBridge</key>
	<string>constraintIncludeMethod</string>
</dict>
</plist>
