<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedPriorityForce</key>
	<string>mediumListenerAlignment</string>
	<key>isolateUntilStage</key>
	<string>multiplicationByEnvironment</string>
	<key>persistentLocalizationTail</key>
	<string>progressbarPatternInteraction</string>
	<key>positionModeOrientation</key>
	<string>themeSinceFlyweight</string>
	<key>providerBesideFunction</key>
	<string>allocatorCompositeHead</string>
	<key>radiusMementoDistance</key>
	<string>listenerAgainstChain</string>
	<key>vectorSinceForm</key>
	<string>textureContainParam</string>
</dict>
</plist>
