<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletBeyondDecorator</key>
	<string>textfieldSystemType</string>
	<key>frameShapeFormat</key>
	<string>repositoryTaskFeedback</string>
	<key>hashVersusCommand</key>
	<string>transitionAroundPlatform</string>
	<key>invisibleNodeScale</key>
	<string>curveFacadeCount</string>
	<key>lastZoneDistance</key>
	<string>spriteKindBrightness</string>
	<key>navigatorNearTier</key>
	<string>reactiveOptionDuration</string>
	<key>positionAlongLevel</key>
	<string>sizeAboutSingleton</string>
	<key>sessionAtMethod</key>
	<string>imageByEnvironment</string>
	<key>sinkWithoutScope</key>
	<string>functionalLabelTint</string>
	<key>sustainableEventTag</key>
	<string>navigatorBeyondContext</string>
</dict>
</plist>
