<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoStreamBound</key>
	<string>missionContextMode</string>
	<key>basicDocumentRotation</key>
	<string>webGroupBottom</string>
	<key>customizedAspectDepth</key>
	<string>enabledAnimatedcontainerOpacity</string>
	<key>imageStructureMargin</key>
	<string>columnForPlatform</string>
	<key>injectionFunctionTheme</key>
	<string>backwardLossTag</string>
	<key>normForAdapter</key>
	<string>handlerSingletonPosition</string>
	<key>pointActivityScale</key>
	<string>comprehensiveTextVisibility</string>
	<key>resourceMethodTop</key>
	<string>materialCaptionSkewx</string>
	<key>rowAboutParameter</key>
	<string>sustainableChapterFormat</string>
	<key>statePrototypeContrast</key>
	<string>exponentShapeSkewx</string>
</dict>
</plist>
