<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeLikeComposite</key>
	<string>assetDecoratorKind</string>
	<key>channelsOrParam</key>
	<string>invisibleModalAcceleration</string>
	<key>descriptionTaskCoord</key>
	<string>animatedPresenterInset</string>
	<key>granularBlocTop</key>
	<string>concreteLayerOpacity</string>
	<key>inactiveRadiusTop</key>
	<string>smartControllerIndex</string>
	<key>layoutThanMode</key>
	<string>geometricChapterState</string>
	<key>pointVersusFacade</key>
	<string>textureAroundState</string>
	<key>subscriptionContextDepth</key>
	<string>gemChainContrast</string>
	<key>variantScopeDelay</key>
	<string>popupNearPrototype</string>
</dict>
</plist>
