<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationContainActivity</key>
	<string>dynamicGradientDepth</string>
	<key>diversifiedNavigatorMargin</key>
	<string>mutableGroupVisible</string>
	<key>intermediateTickerPosition</key>
	<string>responsiveExpandedBrightness</string>
	<key>kernelCommandCenter</key>
	<string>durationChainContrast</string>
	<key>queryObserverRate</key>
	<string>movementFromStage</string>
	<key>resolverPhaseTag</key>
	<string>ternaryStageInset</string>
	<key>sessionStateTag</key>
	<string>cyclePrototypeTheme</string>
</dict>
</plist>
