<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationViaJob</key>
	<string>customizedRichtextTag</string>
	<key>curveSinceTask</key>
	<string>channelAdapterSize</string>
	<key>directLoopOrigin</key>
	<string>flexSystemCenter</string>
	<key>inheritedTextureSpeed</key>
	<string>symmetricNavigatorBrightness</string>
	<key>rectAndEnvironment</key>
	<string>reducerIncludeScope</string>
	<key>resourcePerChain</key>
	<string>immediatePrecisionHead</string>
	<key>retainedPresenterForce</key>
	<string>remainderOfObserver</string>
</dict>
</plist>
