<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryFunctionAcceleration</key>
	<string>errorInsideLevel</string>
	<key>diversifiedMasterTop</key>
	<string>independentAwaitPadding</string>
	<key>mediumEqualizationValidation</key>
	<string>previewTaskTheme</string>
	<key>metadataContextRotation</key>
	<string>mobileMenuLeft</string>
	<key>mobxMethodFlags</key>
	<string>semanticsParamKind</string>
	<key>otherConsumerRate</key>
	<string>parallelButtonState</string>
	<key>storyboardStrategyName</key>
	<string>curveInPrototype</string>
</dict>
</plist>
