<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncDrawerBottom</key>
	<string>usageObserverDuration</string>
	<key>comprehensiveTransitionRotation</key>
	<string>retainedShaderSkewy</string>
	<key>convolutionNumberSkewx</key>
	<string>aspectStructureVisible</string>
	<key>featureVisitorPosition</key>
	<string>tensorCycleScale</string>
	<key>listenerViaActivity</key>
	<string>gesturedetectorViaInterpreter</string>
	<key>nextSkirtFrequency</key>
	<string>basicIntensityVisible</string>
	<key>offsetDespiteAction</key>
	<string>touchFrameworkName</string>
	<key>respectiveCheckboxLocation</key>
	<string>rapidOptionRight</string>
	<key>slashContextDepth</key>
	<string>featureAgainstTemple</string>
	<key>statefulTaskName</key>
	<string>layoutCommandCoord</string>
</dict>
</plist>
