<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorProxyTop</key>
	<string>petCycleBrightness</string>
	<key>functionalTabviewTint</key>
	<string>masterVisitorDensity</string>
	<key>giftChainScale</key>
	<string>resourceTempleCoord</string>
	<key>interactiveChecklistKind</key>
	<string>indicatorAlongContext</string>
	<key>metadataStyleRate</key>
	<string>contractionAwayVar</string>
	<key>particleVisitorShape</key>
	<string>greatSampleValidation</string>
	<key>responsiveCupertinoVisible</key>
	<string>topicAsSystem</string>
	<key>tableAsFramework</key>
	<string>observerCompositeSpacing</string>
	<key>textWithTask</key>
	<string>compositionalGemAlignment</string>
	<key>viewModeName</key>
	<string>dialogsShapeOrientation</string>
</dict>
</plist>
