<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAlongParameter</key>
	<string>intermediateTopicStyle</string>
	<key>cartesianStateFlags</key>
	<string>descriptionOutsideOperation</string>
	<key>flexibleStateTag</key>
	<string>eagerAnimatedcontainerFrequency</string>
	<key>musicAroundDecorator</key>
	<string>projectAmongEnvironment</string>
	<key>protocolAmongScope</key>
	<string>textureLikeJob</string>
	<key>semanticViewOpacity</key>
	<string>accordionBufferTail</string>
</dict>
</plist>
