<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorNearMemento</key>
	<string>projectionAwayStrategy</string>
	<key>constCompositionRotation</key>
	<string>momentumDespiteChain</string>
	<key>consultativeCupertinoVisibility</key>
	<string>sliderOfInterpreter</string>
	<key>containerAgainstKind</key>
	<string>batchAtVariable</string>
	<key>discardedGraphicMode</key>
	<string>listenerUntilPattern</string>
	<key>durationCompositeTop</key>
	<string>cacheIncludeAction</string>
	<key>loopThanTask</key>
	<string>workflowCycleEdge</string>
	<key>mobileHashScale</key>
	<string>workflowDuringMemento</string>
</dict>
</plist>
