<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureTaskDelay</key>
	<string>constraintFlyweightBound</string>
	<key>draggableHeroMargin</key>
	<string>sortedMultiplicationCenter</string>
	<key>effectMementoStyle</key>
	<string>navigatorThanLayer</string>
	<key>fixedSpriteBorder</key>
	<string>functionalNodeAppearance</string>
	<key>streamAgainstStrategy</key>
	<string>navigatorFromComposite</string>
	<key>transformerThanStructure</key>
	<string>localizationOutsideMediator</string>
</dict>
</plist>
