<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensivePlaybackPadding</key>
	<string>animationProcessOrientation</string>
	<key>cursorCompositeIndex</key>
	<string>protectedAspectratioTension</string>
	<key>listenerAwayOperation</key>
	<string>imperativeMemberPadding</string>
	<key>matrixScopeContrast</key>
	<string>respectiveOffsetLeft</string>
	<key>plateLikeSingleton</key>
	<string>equipmentValueTag</string>
	<key>popupVarTransparency</key>
	<string>immutableSkirtVelocity</string>
	<key>resourceWithoutAdapter</key>
	<string>materialSegueValidation</string>
	<key>sceneContextInteraction</key>
	<string>modelWithoutType</string>
	<key>symbolSystemIndex</key>
	<string>stackAboutParam</string>
</dict>
</plist>
