<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferKindType</key>
	<string>roleProcessOpacity</string>
	<key>displayableHeroVisibility</key>
	<string>apertureVisitorInset</string>
	<key>invisibleAnimatedcontainerColor</key>
	<string>completerFlyweightTension</string>
	<key>navigatorAndEnvironment</key>
	<string>unsortedChannelsHue</string>
	<key>priorThemeEdge</key>
	<string>mediumRequestHue</string>
</dict>
</plist>
