<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonNearChain</key>
	<string>movementViaMemento</string>
	<key>injectionFormSpeed</key>
	<string>spineFunctionDelay</string>
	<key>rectOfStructure</key>
	<string>touchFlyweightHead</string>
	<key>resourceNumberPosition</key>
	<string>interactorNumberAppearance</string>
	<key>significantDecorationCoord</key>
	<string>delegateViaFunction</string>
	<key>storeDespiteVar</key>
	<string>pivotalThreadVelocity</string>
	<key>timerChainColor</key>
	<string>delegateInsideFunction</string>
	<key>toolAboutPlatform</key>
	<string>criticalSinkCenter</string>
</dict>
</plist>
