<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layoutJobBehavior</key>
	<string>geometricPositionInterval</string>
	<key>overlayScopeTransparency</key>
	<string>futurePrototypeEdge</string>
	<key>overlayThanNumber</key>
	<string>protocolLayerTheme</string>
	<key>pinchableTickerShape</key>
	<string>descriptorDespiteMediator</string>
	<key>prismaticInstructionSpacing</key>
	<string>fragmentExceptForm</string>
	<key>reactiveMobileForce</key>
	<string>commonConvolutionBorder</string>
	<key>semanticLayerType</key>
	<string>explicitObserverVisible</string>
	<key>transitionWorkDelay</key>
	<string>stampOfSingleton</string>
</dict>
</plist>
