<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationBridgeDuration</key>
	<string>sinkFormMargin</string>
	<key>lazyPaddingDistance</key>
	<string>bitrateStageSaturation</string>
	<key>lossDespiteParam</key>
	<string>positionedAroundProcess</string>
	<key>roleLikeJob</key>
	<string>easyCallbackInterval</string>
	<key>usageAboutInterpreter</key>
	<string>hashTypeFrequency</string>
</dict>
</plist>
