<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisUntilStrategy</key>
	<string>notifierMementoState</string>
	<key>axisValueHue</key>
	<string>scaffoldAboutKind</string>
	<key>iconCycleFormat</key>
	<string>exponentContainParam</string>
	<key>interfacePhaseLeft</key>
	<string>hardCustompaintStatus</string>
	<key>paddingVersusJob</key>
	<string>compositionalTimerKind</string>
	<key>particleSystemName</key>
	<string>prismaticGridCount</string>
	<key>sampleKindOrientation</key>
	<string>originalCubitTheme</string>
	<key>sceneBeyondValue</key>
	<string>robustRichtextDelay</string>
	<key>sensorAsFlyweight</key>
	<string>difficultConstraintStyle</string>
	<key>timerDecoratorTag</key>
	<string>sizeNearValue</string>
</dict>
</plist>
