<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerEntityOrigin</key>
	<string>requiredInstructionPosition</string>
	<key>columnJobOrigin</key>
	<string>certificateVersusChain</string>
	<key>dependencyExceptStyle</key>
	<string>indicatorFormTail</string>
	<key>dependencyFrameworkPadding</key>
	<string>zoneAroundAction</string>
	<key>previewExceptMediator</key>
	<string>sensorPerBridge</string>
	<key>scaleStrategyCenter</key>
	<string>intensityVarTheme</string>
	<key>scrollableSineVisibility</key>
	<string>toolInsideMediator</string>
	<key>spotViaFacade</key>
	<string>builderInterpreterTop</string>
</dict>
</plist>
