<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicWidgetEdge</key>
	<string>fragmentPlatformResponse</string>
	<key>bitrateThanPrototype</key>
	<string>symbolSingletonInteraction</string>
	<key>pinchableHandlerDirection</key>
	<string>segueFlyweightValidation</string>
	<key>seguePerObserver</key>
	<string>intensityPhaseSkewx</string>
	<key>storyboardBridgeSpeed</key>
	<string>petMethodBound</string>
	<key>swiftJobPadding</key>
	<string>scrollableCanvasLeft</string>
</dict>
</plist>
