<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFlyweightSaturation</key>
	<string>routerPlatformType</string>
	<key>cupertinoHandlerResponse</key>
	<string>popupValueBehavior</string>
	<key>desktopQueueInteraction</key>
	<string>tappableProviderRate</string>
	<key>functionalConstraintMomentum</key>
	<string>clipperByJob</string>
	<key>notificationShapeCoord</key>
	<string>roleWithoutEnvironment</string>
	<key>optimizerShapeHead</key>
	<string>singletonPlatformDuration</string>
	<key>transformerAgainstTier</key>
	<string>durationFromEnvironment</string>
</dict>
</plist>
