<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaLikeLevel</key>
	<string>gradientCycleStyle</string>
	<key>compositionMementoDensity</key>
	<string>modelInValue</string>
	<key>crudeBlocTint</key>
	<string>directlyVectorStatus</string>
	<key>globalSubscriptionTail</key>
	<string>symmetricDelegateBottom</string>
	<key>offsetTempleFlags</key>
	<string>titleFrameworkMargin</string>
	<key>pointBesideState</key>
	<string>tangentFromCycle</string>
	<key>tangentBeyondProcess</key>
	<string>independentSliderAcceleration</string>
</dict>
</plist>
