<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionOperationHue</key>
	<string>asyncLayerSize</string>
	<key>difficultAppbarFeedback</key>
	<string>constraintByChain</string>
	<key>disabledChartVisibility</key>
	<string>reactiveResolverState</string>
	<key>indicatorAroundBuffer</key>
	<string>parallelDocumentShape</string>
	<key>metadataKindAppearance</key>
	<string>topicStageSpacing</string>
	<key>painterStructureColor</key>
	<string>layoutObserverDepth</string>
	<key>prismaticAsyncFrequency</key>
	<string>textSinceCommand</string>
	<key>subsequentDescriptionCenter</key>
	<string>actionAsVar</string>
</dict>
</plist>
