<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedAllocatorLeft</key>
	<string>bufferStrategySpeed</string>
	<key>aspectratioStageCoord</key>
	<string>commandAroundPlatform</string>
	<key>globalSpecifierSkewy</key>
	<string>capacitiesObserverDelay</string>
	<key>interpolationActionSkewx</key>
	<string>blocOperationSkewx</string>
	<key>mediaqueryBeyondParameter</key>
	<string>semanticsInActivity</string>
	<key>responseSystemInterval</key>
	<string>opaqueLocalizationName</string>
	<key>rowDespiteKind</key>
	<string>immutableRadiusHue</string>
	<key>sizedboxKindInset</key>
	<string>stepScopeFeedback</string>
	<key>tickerPerBuffer</key>
	<string>gesturedetectorBeyondScope</string>
	<key>visibleShaderSaturation</key>
	<string>pageviewCommandInteraction</string>
</dict>
</plist>
