<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexAmongShape</key>
	<string>reducerAmongProxy</string>
	<key>hyperbolicGetxTheme</key>
	<string>priorRequestCoord</string>
	<key>iconModeMomentum</key>
	<string>tabviewDespiteFacade</string>
	<key>mainUsecaseTransparency</key>
	<string>storeUntilParameter</string>
	<key>menuAmongLevel</key>
	<string>denseListenerAppearance</string>
	<key>menuPerFacade</key>
	<string>challengeBesideStyle</string>
	<key>textAsPlatform</key>
	<string>skirtIncludePhase</string>
	<key>variantUntilAction</key>
	<string>geometricPaddingTail</string>
</dict>
</plist>
