<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianConstraintSkewx</key>
	<string>delegateProcessSaturation</string>
	<key>frameWorkSize</key>
	<string>mobileMapContrast</string>
	<key>staticConvolutionLocation</key>
	<string>certificateSinceMemento</string>
	<key>tabbarNearObserver</key>
	<string>activeMatrixSize</string>
	<key>tableBesideActivity</key>
	<string>threadParamAlignment</string>
	<key>themeContainPlatform</key>
	<string>progressbarCommandCount</string>
	<key>unsortedLabelOffset</key>
	<string>widgetInStrategy</string>
	<key>variantLayerRotation</key>
	<string>stackDespiteKind</string>
</dict>
</plist>
