<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocIncludeLevel</key>
	<string>discardedBuilderInset</string>
	<key>buttonTypeMomentum</key>
	<string>taskStrategyType</string>
	<key>columnOrFlyweight</key>
	<string>animationBesidePrototype</string>
	<key>effectEnvironmentBound</key>
	<string>immutableInterfaceType</string>
	<key>intuitiveLayoutDirection</key>
	<string>backwardSizeName</string>
	<key>marginVariableLocation</key>
	<string>skirtWorkTheme</string>
	<key>numericalEquipmentBottom</key>
	<string>rapidSpotType</string>
	<key>pointAroundMediator</key>
	<string>repositoryVariableDensity</string>
	<key>popupAwayFacade</key>
	<string>iterativeDialogsDirection</string>
	<key>textfieldInsideOperation</key>
	<string>channelShapeHue</string>
</dict>
</plist>
