<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCanvasSkewy</key>
	<string>buttonOutsideObserver</string>
	<key>grayscalePhaseBehavior</key>
	<string>commandScopeBottom</string>
	<key>iconActionInteraction</key>
	<string>synchronousMaterialBorder</string>
	<key>ignoredEntropyInterval</key>
	<string>queryFacadeSkewy</string>
	<key>isolateByForm</key>
	<string>plateAlongParameter</string>
	<key>lostCupertinoSpeed</key>
	<string>dialogsFrameworkOrigin</string>
	<key>projectionTierVelocity</key>
	<string>robustResponseShape</string>
	<key>rectThroughCommand</key>
	<string>drawerWithVar</string>
</dict>
</plist>
