<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionTangentScale</key>
	<string>utilAroundShape</string>
	<key>cursorExceptChain</key>
	<string>injectionObserverSkewx</string>
	<key>graphAwayVisitor</key>
	<string>accessoryPlatformRate</string>
	<key>protectedNodeBottom</key>
	<string>nodeFrameworkTail</string>
	<key>statelessObserverSpacing</key>
	<string>reusableIntegerState</string>
</dict>
</plist>
