<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletExceptCycle</key>
	<string>giftContainCommand</string>
	<key>captionStageCenter</key>
	<string>scaffoldBridgeValidation</string>
	<key>frameAmongScope</key>
	<string>capacitiesTypeDepth</string>
	<key>hashExceptObserver</key>
	<string>eagerStreamMargin</string>
	<key>ignoredButtonVelocity</key>
	<string>interactorAmongValue</string>
	<key>missionFrameworkLeft</key>
	<string>prismaticLogarithmTint</string>
	<key>positionedShapePadding</key>
	<string>normPerJob</string>
</dict>
</plist>
