<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsAboutAdapter</key>
	<string>tweenSinceMode</string>
	<key>declarativeStreamInterval</key>
	<string>tweenOfEnvironment</string>
	<key>dimensionLevelMargin</key>
	<string>playbackCycleName</string>
	<key>missedEventVisibility</key>
	<string>resourceSinceParam</string>
	<key>requiredRoleOpacity</key>
	<string>sharedObserverRate</string>
	<key>streamContextValidation</key>
	<string>granularDelegateSaturation</string>
	<key>touchVersusStage</key>
	<string>mediumLogRight</string>
	<key>viewActivityDensity</key>
	<string>advancedContractionSaturation</string>
</dict>
</plist>
