<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowScopePadding</key>
	<string>giftActionDensity</string>
	<key>finalRichtextCenter</key>
	<string>cubitContextAlignment</string>
	<key>gemPhaseTop</key>
	<string>missedExceptionTag</string>
	<key>keyModelMode</key>
	<string>channelSingletonSize</string>
	<key>primaryResponseDensity</key>
	<string>backwardLoopSize</string>
	<key>robustCallbackMode</key>
	<string>animatedModelRate</string>
	<key>segueInsideStage</key>
	<string>bufferCommandDepth</string>
	<key>symbolVisitorStyle</key>
	<string>previewWithScope</string>
	<key>vectorVersusPhase</key>
	<string>containerVersusPrototype</string>
</dict>
</plist>
