<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentAroundSystem</key>
	<string>multiplicationAboutObserver</string>
	<key>independentEntityLocation</key>
	<string>directlyDescriptorRight</string>
	<key>serviceTierColor</key>
	<string>reusableRadiusCenter</string>
	<key>webReducerHead</key>
	<string>errorAwayForm</string>
</dict>
</plist>
