<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocThroughFacade</key>
	<string>taskBridgeAcceleration</string>
	<key>collectionAmongScope</key>
	<string>resizableProjectionForce</string>
	<key>firstErrorRotation</key>
	<string>subscriptionParameterLocation</string>
	<key>mediumCapsuleTop</key>
	<string>sessionThanMode</string>
	<key>oldSineBound</key>
	<string>functionalVectorDirection</string>
	<key>radioThanCommand</key>
	<string>protectedEventTheme</string>
	<key>shaderAwayOperation</key>
	<string>observerAsPhase</string>
	<key>sineFromCommand</key>
	<string>certificateShapeTension</string>
	<key>slashDecoratorScale</key>
	<string>subsequentAllocatorVelocity</string>
	<key>tangentDuringCycle</key>
	<string>configurationVisitorSkewx</string>
</dict>
</plist>
