<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignoredContainerDirection</key>
	<string>giftStateFeedback</string>
	<key>multiRadioPadding</key>
	<string>interfaceAroundFacade</string>
	<key>operationAsMemento</key>
	<string>serviceAsKind</string>
	<key>rapidAspectratioShape</key>
	<string>pivotalLayerTheme</string>
	<key>switchStateContrast</key>
	<string>delegateAndStrategy</string>
</dict>
</plist>
