<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCurveBorder</key>
	<string>controllerFromStyle</string>
	<key>batchAndPattern</key>
	<string>utilNumberEdge</string>
	<key>drawerAwayAdapter</key>
	<string>subtleDecorationVelocity</string>
	<key>eagerInkwellCenter</key>
	<string>stateNumberFeedback</string>
	<key>futureAgainstShape</key>
	<string>resourceParamName</string>
	<key>hashBridgeAppearance</key>
	<string>descriptorLikeFramework</string>
	<key>skinProxySkewx</key>
	<string>heapBufferSkewx</string>
	<key>storyboardNumberType</key>
	<string>cardFrameworkLocation</string>
</dict>
</plist>
