<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateVariableDuration</key>
	<string>builderUntilStyle</string>
	<key>euclideanContainerDensity</key>
	<string>usecaseInsideStrategy</string>
	<key>musicFromPlatform</key>
	<string>uniqueGroupColor</string>
	<key>progressbarAtLayer</key>
	<string>curveActivityCenter</string>
</dict>
</plist>
