<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeCoordinatorShape</key>
	<string>painterBufferFrequency</string>
	<key>durationTypeRight</key>
	<string>iconOutsideComposite</string>
	<key>inkwellObserverSize</key>
	<string>previewThanDecorator</string>
	<key>kernelValueFormat</key>
	<string>statelessSinceStructure</string>
	<key>listenerWithoutTier</key>
	<string>stampTempleFlags</string>
	<key>observerTaskName</key>
	<string>constraintSingletonShade</string>
	<key>prismaticMethodInterval</key>
	<string>seamlessStoryboardForce</string>
	<key>routeStyleResponse</key>
	<string>intermediateScreenLocation</string>
	<key>singleInterfaceInterval</key>
	<string>entropyForVar</string>
	<key>tickerStructureVisible</key>
	<string>opaqueSinkSpacing</string>
</dict>
</plist>
