<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitVarIndex</key>
	<string>intuitiveAssetOrientation</string>
	<key>durationInsideChain</key>
	<string>listviewBridgeTop</string>
	<key>durationMethodAlignment</key>
	<string>columnModeTag</string>
	<key>functionalBuilderForce</key>
	<string>providerContextVisibility</string>
	<key>globalNavigatorSkewy</key>
	<string>signatureOperationInterval</string>
	<key>monsterAtScope</key>
	<string>missionPlatformAppearance</string>
	<key>movementOutsideAction</key>
	<string>characterInTier</string>
	<key>spriteFlyweightType</key>
	<string>boxshadowPatternOffset</string>
	<key>storeAdapterLeft</key>
	<string>boxshadowAtCommand</string>
</dict>
</plist>
