<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxAgainstProcess</key>
	<string>customizedProtocolBehavior</string>
	<key>invisiblePositionTension</key>
	<string>publicBorderDirection</string>
	<key>parallelChecklistFeedback</key>
	<string>statelessTierBehavior</string>
	<key>variantLevelVelocity</key>
	<string>otherRequestColor</string>
	<key>visibleReductionTransparency</key>
	<string>callbackBeyondContext</string>
</dict>
</plist>
