<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentFromInterpreter</key>
	<string>comprehensiveExceptionState</string>
	<key>cacheContextResponse</key>
	<string>observerDespiteFacade</string>
	<key>configurationStyleShade</key>
	<string>liteTitleDuration</string>
	<key>futureAlongParam</key>
	<string>isolateBeyondAdapter</string>
	<key>newestSinkContrast</key>
	<string>associatedAnimationInset</string>
	<key>previewShapeForce</key>
	<string>oldDocumentFrequency</string>
	<key>reductionLikeComposite</key>
	<string>listviewAdapterCenter</string>
</dict>
</plist>
