<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSliderRotation</key>
	<string>viewOutsideAdapter</string>
	<key>allocatorFunctionAppearance</key>
	<string>containerAlongSingleton</string>
	<key>asyncNumberSkewx</key>
	<string>characterParameterIndex</string>
	<key>reducerStructureRight</key>
	<string>staticGraphicCount</string>
	<key>textTempleDuration</key>
	<string>draggableAsyncTint</string>
	<key>topicExceptCycle</key>
	<string>managerSinceScope</string>
</dict>
</plist>
