<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFromPrototype</key>
	<string>delicateAsyncType</string>
	<key>optionPerSystem</key>
	<string>asynchronousCursorHead</string>
	<key>seamlessEquipmentLeft</key>
	<string>vectorCycleRate</string>
	<key>sortedSinkOrientation</key>
	<string>shaderFacadePressure</string>
	<key>tabviewViaLayer</key>
	<string>usageBufferInteraction</string>
</dict>
</plist>
