<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveAtMemento</key>
	<string>immutableUtilFormat</string>
	<key>eagerLayoutType</key>
	<string>actionActivityForce</string>
	<key>eventAdapterDuration</key>
	<string>dependencyContainActivity</string>
	<key>injectionAndTier</key>
	<string>collectionInProxy</string>
	<key>momentumVersusActivity</key>
	<string>queryKindSpacing</string>
	<key>offsetParamOffset</key>
	<string>rapidSizeCenter</string>
	<key>profileStructureAlignment</key>
	<string>columnOrLayer</string>
</dict>
</plist>
