<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveIntegerMargin</key>
	<string>localizationActionOrigin</string>
	<key>geometricQueueColor</key>
	<string>segueAmongCommand</string>
	<key>menuAgainstTask</key>
	<string>richtextDespiteFramework</string>
	<key>significantMenuDistance</key>
	<string>stateTierScale</string>
	<key>titleKindSpeed</key>
	<string>monsterParamDepth</string>
	<key>uniformRouterVisible</key>
	<string>subscriptionPhaseOffset</string>
</dict>
</plist>
