<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerServiceTransparency</key>
	<string>geometricErrorName</string>
	<key>durationStyleSkewx</key>
	<string>stateAndType</string>
	<key>entropyInsideFacade</key>
	<string>completionWithVisitor</string>
	<key>granularCardOrientation</key>
	<string>apertureContainFacade</string>
	<key>intensityAwayPhase</key>
	<string>sampleCycleDirection</string>
	<key>keyGemEdge</key>
	<string>decorationStageRate</string>
	<key>skirtVisitorPosition</key>
	<string>gestureOperationState</string>
	<key>temporaryGiftTransparency</key>
	<string>errorBesideVariable</string>
</dict>
</plist>
