<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartVarFormat</key>
	<string>discardedResultShape</string>
	<key>histogramShapeTheme</key>
	<string>cartesianIntensityResponse</string>
	<key>popupCommandOpacity</key>
	<string>interfaceFormMomentum</string>
	<key>smartRichtextPosition</key>
	<string>variantThanFramework</string>
	<key>viewDuringStyle</key>
	<string>localizationPhaseStatus</string>
</dict>
</plist>
