<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedNibIndex</key>
	<string>previewDespitePrototype</string>
	<key>documentAroundValue</key>
	<string>tappableMethodVisibility</string>
	<key>logarithmAndTemple</key>
	<string>variantAroundSingleton</string>
	<key>segueAroundObserver</key>
	<string>modulusMementoDensity</string>
</dict>
</plist>
