<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonCompositeResponse</key>
	<string>independentBufferInteraction</string>
	<key>channelsValueSpacing</key>
	<string>newestAwaitCount</string>
	<key>composableSizeEdge</key>
	<string>referenceDuringSystem</string>
	<key>curveTierPosition</key>
	<string>delegateVisitorTail</string>
	<key>frameAgainstWork</key>
	<string>consultativeMemberCount</string>
	<key>heapOrForm</key>
	<string>easyConstraintSkewy</string>
	<key>immediateSessionFeedback</key>
	<string>memberThanJob</string>
	<key>richtextThanVisitor</key>
	<string>vectorTierOrigin</string>
</dict>
</plist>
