<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerSignatureRotation</key>
	<string>timerJobDistance</string>
	<key>largeGridPosition</key>
	<string>interactiveNotifierBound</string>
	<key>listenerEnvironmentLeft</key>
	<string>customResponseOrigin</string>
	<key>popupStrategyDelay</key>
	<string>pinchableVariantAppearance</string>
	<key>radiusTypeFormat</key>
	<string>responseDuringProxy</string>
	<key>textValueRotation</key>
	<string>shaderPerPlatform</string>
</dict>
</plist>
