<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSpriteInset</key>
	<string>routerInFunction</string>
	<key>aspectratioNumberTop</key>
	<string>interactorInsideKind</string>
	<key>descriptionModeDensity</key>
	<string>synchronousCoordinatorSize</string>
	<key>inheritedListenerColor</key>
	<string>loopShapeType</string>
	<key>providerExceptNumber</key>
	<string>containerInterpreterSkewy</string>
	<key>storyboardMementoAlignment</key>
	<string>reducerBufferOffset</string>
</dict>
</plist>
