<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorInParameter</key>
	<string>deferredAssetVisible</string>
	<key>channelsOfParam</key>
	<string>finalAwaitKind</string>
	<key>constraintAwayMemento</key>
	<string>backwardCupertinoOffset</string>
	<key>oldErrorInset</key>
	<string>rowPlatformSaturation</string>
	<key>robustAsyncBorder</key>
	<string>stackTypeDensity</string>
	<key>signSinceMediator</key>
	<string>sizeVarRotation</string>
	<key>textDuringEnvironment</key>
	<string>bulletJobCount</string>
</dict>
</plist>
