<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineViaInterpreter</key>
	<string>referenceActivityFeedback</string>
	<key>compositionalTaskStyle</key>
	<string>controllerLikeCommand</string>
	<key>contractionOutsideParameter</key>
	<string>challengeNumberValidation</string>
	<key>coordinatorActivityRotation</key>
	<string>curveProxyInteraction</string>
	<key>coordinatorCompositeMargin</key>
	<string>granularMemberShape</string>
	<key>decorationSinceChain</key>
	<string>sensorDuringParam</string>
	<key>paddingOrTask</key>
	<string>cartesianSessionRight</string>
	<key>semanticQuerySpacing</key>
	<string>symmetricActionState</string>
	<key>serviceDespiteStructure</key>
	<string>gemIncludeFacade</string>
	<key>signatureAdapterState</key>
	<string>flexiblePopupForce</string>
</dict>
</plist>
