<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionTabbarSkewy</key>
	<string>notificationThroughTier</string>
	<key>contractionContainLevel</key>
	<string>customizedDecorationTail</string>
	<key>kernelAtAction</key>
	<string>resourceOutsideTier</string>
	<key>largeFeatureOrigin</key>
	<string>dependencySingletonCenter</string>
	<key>mainSlashDepth</key>
	<string>statelessSystemScale</string>
	<key>resourceParameterRotation</key>
	<string>fusedResourceInset</string>
	<key>scaleContainBridge</key>
	<string>gesturedetectorStageTop</string>
	<key>staticRoleName</key>
	<string>variantSinceForm</string>
	<key>symbolAboutScope</key>
	<string>sampleDecoratorRate</string>
	<key>unactivatedProviderDirection</key>
	<string>sustainableTextfieldSpeed</string>
</dict>
</plist>
