<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerWorkDirection</key>
	<string>controllerExceptShape</string>
	<key>denseCompleterColor</key>
	<string>tappableEffectAlignment</string>
	<key>documentOfAction</key>
	<string>seamlessSizedboxShape</string>
	<key>effectParameterRight</key>
	<string>skinThroughEnvironment</string>
	<key>grainProcessDirection</key>
	<string>decorationValueContrast</string>
	<key>interfaceSingletonAppearance</key>
	<string>symmetricRouteSize</string>
	<key>parallelProviderMode</key>
	<string>ternaryBeyondFunction</string>
	<key>storeParameterShade</key>
	<string>boxshadowOfState</string>
</dict>
</plist>
