<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertVarVelocity</key>
	<string>characterForMethod</string>
	<key>currentReductionFlags</key>
	<string>transformerTempleFormat</string>
	<key>routeOutsideStage</key>
	<string>positionForBridge</string>
</dict>
</plist>
