<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agilePositionBehavior</key>
	<string>subsequentZoneDirection</string>
	<key>arithmeticRouteInteraction</key>
	<string>missionAtLevel</string>
	<key>operationForVisitor</key>
	<string>typicalReducerTag</string>
	<key>permanentIsolateBound</key>
	<string>taskAroundMethod</string>
	<key>reductionThanParam</key>
	<string>compositionalRequestCoord</string>
</dict>
</plist>
