<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveWidgetMargin</key>
	<string>borderShapeMode</string>
	<key>checkboxAboutType</key>
	<string>interfaceForJob</string>
	<key>expandedBufferDensity</key>
	<string>animatedcontainerBesideLayer</string>
	<key>modalMediatorFrequency</key>
	<string>sinePerComposite</string>
	<key>richtextOperationSkewy</key>
	<string>roleInsideMediator</string>
	<key>sceneAlongContext</key>
	<string>handlerPerPrototype</string>
	<key>similarPositionedLocation</key>
	<string>multiplicationPlatformOffset</string>
	<key>streamTaskVelocity</key>
	<string>callbackStateBorder</string>
	<key>themeOutsideContext</key>
	<string>positionedAlongActivity</string>
	<key>toolStrategyCenter</key>
	<string>documentDespiteStructure</string>
</dict>
</plist>
