<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeControllerBottom</key>
	<string>profileJobDepth</string>
	<key>exponentValueAppearance</key>
	<string>discardedConvolutionTail</string>
	<key>globalCertificateFeedback</key>
	<string>routeBufferBrightness</string>
	<key>intermediateObserverBound</key>
	<string>customizedMenuInteraction</string>
	<key>iterativeThreadTop</key>
	<string>elasticConstraintMode</string>
	<key>layerChainDirection</key>
	<string>graphAboutLayer</string>
	<key>publicActionAppearance</key>
	<string>greatInjectionVelocity</string>
	<key>relationalOffsetDirection</key>
	<string>multiDropdownbuttonLocation</string>
	<key>statefulOrValue</key>
	<string>widgetAsForm</string>
</dict>
</plist>
