<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constPresenterMargin</key>
	<string>petNumberDensity</string>
	<key>customizedEquipmentDirection</key>
	<string>otherResolverLeft</string>
	<key>delicateHistogramStyle</key>
	<string>modalSinceValue</string>
	<key>fragmentVersusBuffer</key>
	<string>referenceNearPhase</string>
	<key>gatePerWork</key>
	<string>compositionalCubitInset</string>
	<key>intuitiveTernaryTop</key>
	<string>storyboardForChain</string>
	<key>observerVariableScale</key>
	<string>autoAspectratioRotation</string>
	<key>radioSystemMomentum</key>
	<string>operationVersusProxy</string>
	<key>sequentialAlphaForce</key>
	<string>listviewBesideFunction</string>
</dict>
</plist>
