<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listenerAwayBuffer</key>
	<string>errorOperationKind</string>
	<key>mobxContainTemple</key>
	<string>factoryExceptProcess</string>
	<key>smartSwiftLeft</key>
	<string>checkboxWithoutPlatform</string>
</dict>
</plist>
