<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticVariableVisible</key>
	<string>uniqueBinaryDirection</string>
	<key>decorationAtNumber</key>
	<string>mobileViaPrototype</string>
	<key>entityInValue</key>
	<string>cartesianRequestContrast</string>
	<key>metadataEnvironmentKind</key>
	<string>largeEntityTop</string>
	<key>repositoryFromBridge</key>
	<string>radiusUntilProcess</string>
	<key>sequentialTextfieldTheme</key>
	<string>appbarStageType</string>
</dict>
</plist>
