<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianTickerFrequency</key>
	<string>singletonContextAlignment</string>
	<key>displayableRoleValidation</key>
	<string>touchMediatorDensity</string>
	<key>gridKindAlignment</key>
	<string>protectedProfileTheme</string>
	<key>gridTempleFormat</key>
	<string>gradientThroughPattern</string>
	<key>layerExceptFacade</key>
	<string>cacheShapeVelocity</string>
	<key>offsetShapeVisibility</key>
	<string>notifierParamMomentum</string>
	<key>opaqueOffsetDirection</key>
	<string>statefulAsSystem</string>
	<key>similarBoxshadowScale</key>
	<string>interactorCommandFormat</string>
</dict>
</plist>
