<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSizeMargin</key>
	<string>commonTransitionDuration</string>
	<key>buttonCommandTransparency</key>
	<string>widgetFromForm</string>
	<key>gradientThanStage</key>
	<string>arithmeticTextSaturation</string>
	<key>hierarchicalMonsterVisibility</key>
	<string>apertureLevelSize</string>
	<key>methodWithFunction</key>
	<string>animationMementoColor</string>
	<key>permanentCatalystTag</key>
	<string>queueExceptTier</string>
	<key>slashBeyondForm</key>
	<string>commandAwayMethod</string>
	<key>sliderVersusStyle</key>
	<string>singletonTierStyle</string>
	<key>widgetCompositeMargin</key>
	<string>pinchableCosineInterval</string>
</dict>
</plist>
