<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateGrayscaleTag</key>
	<string>significantChannelKind</string>
	<key>dimensionAroundSingleton</key>
	<string>resultDespiteDecorator</string>
	<key>finalCursorSkewy</key>
	<string>lossLikeProcess</string>
	<key>gradientExceptSingleton</key>
	<string>easyCubeValidation</string>
	<key>heapPhaseType</key>
	<string>contractionBesideMemento</string>
	<key>pinchableGroupTail</key>
	<string>exceptionLikeMemento</string>
	<key>providerCycleStyle</key>
	<string>seamlessVectorDirection</string>
	<key>requestExceptMemento</key>
	<string>materialModelTheme</string>
	<key>sizeSingletonFeedback</key>
	<string>commonInterfaceKind</string>
	<key>tweenVersusAction</key>
	<string>dialogsAwayFacade</string>
</dict>
</plist>
