<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateVariableBorder</key>
	<string>mobxWithoutScope</string>
	<key>characterOrDecorator</key>
	<string>modulusTierSkewy</string>
	<key>denseVariantCoord</key>
	<string>nextFragmentEdge</string>
	<key>drawerAlongLevel</key>
	<string>unactivatedFactoryEdge</string>
	<key>layoutOfStructure</key>
	<string>substantialLocalizationDirection</string>
	<key>protectedRichtextForce</key>
	<string>keySizedboxDistance</string>
	<key>temporaryBufferCoord</key>
	<string>agileChannelsOrientation</string>
	<key>uniqueExpandedName</key>
	<string>chapterUntilParameter</string>
</dict>
</plist>
