<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioSystemHead</key>
	<string>responseModePadding</string>
	<key>ignoredOptimizerShape</key>
	<string>liteStackShade</string>
	<key>liteMetadataSaturation</key>
	<string>protocolByCommand</string>
	<key>repositoryOutsideShape</key>
	<string>serviceAmongTemple</string>
	<key>zoneInScope</key>
	<string>asynchronousCanvasState</string>
</dict>
</plist>
