<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryAroundState</key>
	<string>prismaticSizeHue</string>
	<key>giftDecoratorFlags</key>
	<string>menuIncludeState</string>
	<key>heapExceptFlyweight</key>
	<string>animatedcontainerJobPressure</string>
	<key>substantialTernaryPressure</key>
	<string>allocatorTypeDistance</string>
	<key>temporaryInjectionDuration</key>
	<string>roleVisitorFrequency</string>
</dict>
</plist>
