<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderOrEnvironment</key>
	<string>blocTypeMomentum</string>
	<key>concreteAnimationName</key>
	<string>metadataVariableVisibility</string>
	<key>containerBeyondPhase</key>
	<string>stampActivityRate</string>
	<key>customizedTextureInteraction</key>
	<string>effectExceptAction</string>
	<key>elasticChannelsFormat</key>
	<string>intensityAdapterKind</string>
	<key>enabledMaterialTail</key>
	<string>sampleDespiteContext</string>
	<key>factoryAlongVisitor</key>
	<string>geometricFutureDuration</string>
	<key>frameDuringComposite</key>
	<string>draggableEffectScale</string>
	<key>storageOrVisitor</key>
	<string>scrollableDelegateInteraction</string>
	<key>uniqueTransitionInteraction</key>
	<string>requestStructureInterval</string>
</dict>
</plist>
