<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardTextureShade</key>
	<string>commonFutureStatus</string>
	<key>durationPlatformAppearance</key>
	<string>roleFlyweightSaturation</string>
	<key>effectNearScope</key>
	<string>channelsAwayJob</string>
	<key>eventSystemFlags</key>
	<string>inkwellAroundVisitor</string>
	<key>inactiveGridHue</key>
	<string>durationTypeBound</string>
	<key>layoutWorkSkewx</key>
	<string>screenVisitorEdge</string>
	<key>modelNumberTail</key>
	<string>previewSinceParam</string>
	<key>threadNearAdapter</key>
	<string>alignmentProxyBorder</string>
	<key>tickerBridgeForce</key>
	<string>containerFunctionMomentum</string>
</dict>
</plist>
