<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowWorkOrientation</key>
	<string>specifierJobRate</string>
	<key>captionPatternVisible</key>
	<string>topicActivityTop</string>
	<key>curveWithTemple</key>
	<string>arithmeticAtFacade</string>
	<key>lastCurveValidation</key>
	<string>blocAgainstStage</string>
	<key>mediocreMarginVisibility</key>
	<string>cosineWorkTop</string>
	<key>profileThanStructure</key>
	<string>groupInterpreterFeedback</string>
	<key>textInsideStyle</key>
	<string>blocVersusParameter</string>
</dict>
</plist>
