<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeFrameworkResponse</key>
	<string>requestParamOpacity</string>
	<key>managerLikeCommand</key>
	<string>layerViaParameter</string>
	<key>radioActivityResponse</key>
	<string>columnAlongMemento</string>
	<key>screenAmongScope</key>
	<string>iterativeLoopTheme</string>
	<key>titleExceptFunction</key>
	<string>chartObserverDistance</string>
	<key>widgetInPattern</key>
	<string>aspectAmongActivity</string>
</dict>
</plist>
