<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoCoordinatorPosition</key>
	<string>sizedboxUntilBridge</string>
	<key>basicTransitionBound</key>
	<string>otherSliderStyle</string>
	<key>completerAtProcess</key>
	<string>kernelVarTension</string>
	<key>comprehensiveReferenceRight</key>
	<string>featureOrStyle</string>
	<key>materialBlocTransparency</key>
	<string>responsiveGemRotation</string>
	<key>metadataByParam</key>
	<string>criticalMenuRight</string>
	<key>reducerModeBrightness</key>
	<string>effectLikeObserver</string>
	<key>textObserverType</key>
	<string>featureDuringWork</string>
</dict>
</plist>
