<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSubpixelFormat</key>
	<string>constDescriptorIndex</string>
	<key>challengeAwayPrototype</key>
	<string>disparateControllerOrigin</string>
	<key>clipperForJob</key>
	<string>relationalTabviewContrast</string>
	<key>invisibleCoordinatorTop</key>
	<string>navigatorAgainstProxy</string>
	<key>optimizerOfEnvironment</key>
	<string>durationOfScope</string>
	<key>playbackAwayType</key>
	<string>fixedNodeLocation</string>
	<key>subscriptionDespiteOperation</key>
	<string>constraintNumberVisible</string>
	<key>textureJobFeedback</key>
	<string>apertureOperationDuration</string>
	<key>threadPerOperation</key>
	<string>inheritedBulletDuration</string>
</dict>
</plist>
