<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activePreviewAlignment</key>
	<string>immediateChartDirection</string>
	<key>commandFormTheme</key>
	<string>signatureMethodSaturation</string>
	<key>cupertinoLoopScale</key>
	<string>functionalLabelContrast</string>
	<key>entityStructureColor</key>
	<string>scaffoldInsideLevel</string>
	<key>listenerChainDistance</key>
	<string>concreteNavigatorKind</string>
	<key>localizationAroundOperation</key>
	<string>subpixelExceptObserver</string>
	<key>matrixStyleTint</key>
	<string>sinkAlongVariable</string>
	<key>storeDespiteMediator</key>
	<string>notificationParameterType</string>
	<key>transformerBesideAdapter</key>
	<string>actionDespiteState</string>
</dict>
</plist>
