<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationSystemAlignment</key>
	<string>multiplicationAtVariable</string>
	<key>interpolationFormKind</key>
	<string>serviceTierValidation</string>
	<key>menuByPattern</key>
	<string>opaqueMusicName</string>
	<key>progressbarThanObserver</key>
	<string>statefulChecklistDensity</string>
	<key>retainedTimerHue</key>
	<string>errorOutsideMemento</string>
	<key>titleCyclePadding</key>
	<string>sizeVisitorFlags</string>
</dict>
</plist>
