<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionCommandTheme</key>
	<string>graphWorkAcceleration</string>
	<key>intuitiveEventOffset</key>
	<string>promiseAndTier</string>
	<key>nextConvolutionTop</key>
	<string>scrollAgainstState</string>
	<key>relationalConsumerMode</key>
	<string>hyperbolicQueryCoord</string>
	<key>serviceOfAdapter</key>
	<string>featureOrTier</string>
	<key>sliderActivityOpacity</key>
	<string>popupJobRight</string>
	<key>subtlePlaybackFormat</key>
	<string>effectOfMethod</string>
	<key>techniqueAndJob</key>
	<string>layoutVariableSaturation</string>
	<key>unaryActivityTransparency</key>
	<string>constActionCoord</string>
</dict>
</plist>
