<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicCertificateBehavior</key>
	<string>menuVisitorAcceleration</string>
	<key>blocLikeMemento</key>
	<string>entropySystemInterval</string>
	<key>granularBatchInteraction</key>
	<string>reusableSizeBehavior</string>
	<key>plateFunctionEdge</key>
	<string>usedHistogramStatus</string>
	<key>reducerBufferTension</key>
	<string>storeParamTransparency</string>
	<key>tabviewOutsideVar</key>
	<string>hashByDecorator</string>
	<key>timerStrategyFrequency</key>
	<string>numericalStoreHue</string>
</dict>
</plist>
