<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitOperationPosition</key>
	<string>notifierBesideProxy</string>
	<key>explicitAnimationTension</key>
	<string>flexibleScaffoldAlignment</string>
	<key>globalOffsetOrigin</key>
	<string>bitratePhaseResponse</string>
	<key>lossThanForm</key>
	<string>constraintIncludePlatform</string>
	<key>nibAdapterTransparency</key>
	<string>featureStrategyFormat</string>
	<key>prevSliderBrightness</key>
	<string>substantialFeatureDirection</string>
	<key>topicAgainstInterpreter</key>
	<string>marginFrameworkVelocity</string>
	<key>topicPhaseDelay</key>
	<string>injectionContainVisitor</string>
	<key>transitionAlongVisitor</key>
	<string>diffableReferenceOffset</string>
</dict>
</plist>
