<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorWithoutDecorator</key>
	<string>graphicSingletonTag</string>
	<key>gestureNumberLeft</key>
	<string>cubitNumberHue</string>
	<key>requestUntilVisitor</key>
	<string>offsetContextResponse</string>
	<key>routeAtActivity</key>
	<string>presenterLikeBridge</string>
	<key>taskFromFramework</key>
	<string>entityLikeLevel</string>
	<key>unactivatedCubeFormat</key>
	<string>frameEnvironmentCoord</string>
</dict>
</plist>
