<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureBesideVar</key>
	<string>inheritedBuilderScale</string>
	<key>controllerWithContext</key>
	<string>spriteBridgeDensity</string>
	<key>declarativeEffectColor</key>
	<string>specifyButtonTension</string>
	<key>prismaticTimerOffset</key>
	<string>asyncAgainstBridge</string>
	<key>specifierFromMode</key>
	<string>tangentActivityBottom</string>
	<key>specifyChecklistFlags</key>
	<string>skirtVarOffset</string>
	<key>statefulAwayDecorator</key>
	<string>plateWithInterpreter</string>
	<key>unsortedTransformerIndex</key>
	<string>prismaticTickerFeedback</string>
</dict>
</plist>
