<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularCardForce</key>
	<string>textEnvironmentVisible</string>
	<key>injectionActionShade</key>
	<string>allocatorKindDistance</string>
	<key>offsetFromScope</key>
	<string>checklistFlyweightOffset</string>
	<key>sceneScopeTransparency</key>
	<string>callbackProcessRotation</string>
	<key>singletonFacadeFeedback</key>
	<string>storeStyleTop</string>
	<key>sliderVarVisible</key>
	<string>animationStructureDelay</string>
</dict>
</plist>
