<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteAllocatorVisibility</key>
	<string>timerStyleSkewx</string>
	<key>methodThanParam</key>
	<string>heroVersusFunction</string>
	<key>multiAlignmentCoord</key>
	<string>relationalTweenDistance</string>
</dict>
</plist>
