<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalTaskForce</key>
	<string>spriteInMediator</string>
	<key>permanentConfigurationRight</key>
	<string>lazyListenerTension</string>
	<key>providerWithoutCycle</key>
	<string>touchWorkFlags</string>
</dict>
</plist>
