<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerActionSaturation</key>
	<string>mediumSineCount</string>
	<key>delicateEventBound</key>
	<string>boxStateTop</string>
	<key>gramLayerVisible</key>
	<string>channelsSinceMethod</string>
	<key>intermediateFutureInteraction</key>
	<string>exceptionAsNumber</string>
	<key>stackBridgeMode</key>
	<string>crudeAspectFeedback</string>
</dict>
</plist>
