<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterVarBrightness</key>
	<string>tabviewStructureOrigin</string>
	<key>dependencyThanPrototype</key>
	<string>providerVarOrigin</string>
	<key>easyNavigatorTop</key>
	<string>arithmeticContextValidation</string>
	<key>eventExceptPhase</key>
	<string>gridMethodStyle</string>
	<key>factoryAtTask</key>
	<string>publicHeapTension</string>
	<key>gridAdapterTop</key>
	<string>custompaintStructureScale</string>
	<key>modalByEnvironment</key>
	<string>painterAroundPhase</string>
	<key>nativeSinkTag</key>
	<string>reducerIncludeComposite</string>
	<key>opaqueManagerVisible</key>
	<string>numericalExceptionStatus</string>
</dict>
</plist>
