<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxOutsideMediator</key>
	<string>commonCertificateRight</string>
	<key>boxshadowOperationHue</key>
	<string>tweenPlatformBehavior</string>
	<key>containerVariableSkewx</key>
	<string>radiusWithoutPattern</string>
	<key>gridParamSize</key>
	<string>queueFormSkewx</string>
	<key>immutableSegmentSkewx</key>
	<string>observerOrAdapter</string>
	<key>swiftAroundForm</key>
	<string>frameByVisitor</string>
</dict>
</plist>
