<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorStrategyShape</key>
	<string>consultativeAxisTension</string>
	<key>bufferThanDecorator</key>
	<string>materialAnimationShape</string>
	<key>builderBufferResponse</key>
	<string>singletonParameterRight</string>
	<key>builderPerChain</key>
	<string>usageInsideStage</string>
	<key>directlyRouterEdge</key>
	<string>injectionFromStyle</string>
	<key>nodeContainComposite</key>
	<string>semanticSizeMomentum</string>
	<key>particleTypeTag</key>
	<string>difficultContractionValidation</string>
</dict>
</plist>
