<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateRouteCoord</key>
	<string>commandValueTag</string>
	<key>exceptionNumberTransparency</key>
	<string>sinkActionPosition</string>
	<key>gradientKindShade</key>
	<string>queueWithOperation</string>
	<key>interfaceIncludeScope</key>
	<string>controllerDecoratorTheme</string>
	<key>pivotalKernelHue</key>
	<string>gemTaskSkewy</string>
	<key>semanticCollectionTint</key>
	<string>presenterStateKind</string>
	<key>spriteUntilAction</key>
	<string>capacitiesParamTail</string>
</dict>
</plist>
