<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionParameterTheme</key>
	<string>repositoryStrategyColor</string>
	<key>giftMethodVelocity</key>
	<string>specifyDecorationAcceleration</string>
	<key>loopOfStyle</key>
	<string>disparateLayerRight</string>
	<key>managerActionStyle</key>
	<string>descriptionPhaseFormat</string>
	<key>sharedSymbolInterval</key>
	<string>loopBufferFeedback</string>
	<key>streamParameterFormat</key>
	<string>custompaintProxyTag</string>
	<key>tableFlyweightBound</key>
	<string>originalButtonInset</string>
</dict>
</plist>
